
<img class="main-tpl-img" src="images/vrata-komp.gif">

 <embed  src="images/vrata-komp.mp3" loop="false" autostart="true" hidden="true" />

 <img class="preload-img" src="images/zkrevet-kutlik.gif" />
<img class="preload-img" src="images/komp-sint.gif" />
<img class="preload-img" src="images/komp-krevetliksam.gif" />

<a href="primjerkomp" data-routable="true" class="c" data-wiki="change">wiki</a>
<a href="primjersunos" data-routable="true" class="c c1 sunos">sunos</a>
<a href="primjertunos" data-routable="true" class="c c2 tunos">tunos</a>
<a href="primjerpipa" data-routable="true" class="c c3 pipa">pipa</a>
<a href="primjert" data-routable="true" class="c c4 t">t</a>
<a href="primjersint" data-routable="true"  data-sint="on" class="c c5 ">sint</a>
<a href="primjerskok" data-routable="true"  class="c c6 ">skok</a>
<a href="primjerot" data-routable="true"   class="c c7 ot">ot</a>
<a href="primjerzat" data-routable="true"  class="c c8 zat">zat</a>
<a href="primjersvemiron" data-routable="true"  data-svemir="on" class="c c9 ">svemiron</a>
<a href="primjersvemiroff" data-routable="true" data-svemir="off" class="c c10 ">svemiroff</a>
<style>
     
</style>
  <script>
       
         gifTime =vc1;
    
</script>