.preload-img{
    visibility: hidden !important;
}

body{
    margin: 0 !important;
    background-color: #ffffff;
}

.prvipravi2-img{
    
     position: absolute !important;

     z-index: 80002;
}


.zaklon{
   
    z-index: 99999999999911999999;
}

.container .m{
    display: none;
    z-index: 80003;
}

.blocker{
    background-color: transparent !important;
}

.lok0b{
     display: block;
 background-color: #d13e0c;      
    border-radius: 100%;
        height: 5%;
        top: 49%;
        left: 12%;
        width: 5%;
    z-index: 79999;
    }


.lok1{
     display: block;
 background-color: #d13e0c;     
    border-radius: 100%;
        height: 7%;
        top: 74%;
        left: 70%;
        width: 7%;
    z-index: 79999;
    }
.lok2{
     display: block;
 background-color: #d13e0c;      
    border-radius: 100%;
        height: 7%;
        top: 13%;
        left: 25%;
        width: 7%;
    z-index: 79999;
    }
.lok3{
     display: block;
 background-color: #d13e0c;    
    border-radius: 100%;
        height: 7%;
        top: 58%;
        left: 82%;
        width: 7%;
        z-index: 79999;
    }
.lok4{
     display: block;
 background-color: #d13e0c;    
    border-radius: 100%;
        height: 7%;
        top: 59%;
        left: 44%;
        width: 7%;
        z-index: 79999;
    }

.lok5{
     display: block;
 background-color: #d13e0c;     
    border-radius: 100%;
        height: 7%;
        top: 43%;
        left: 76%;
        width: 10%;
        z-index: 79999;
    }
.lok6{
     display: block;
 background-color: #d13e0c;      
    border-radius: 100%;
        height: 10%;
        top: 0%;
        left: 69%;
        width: 10%;
        z-index: 79999;
    }
.lok7{
     display: block;
 background-color: #d13e0c;      
    border-radius: 110%;
        height: 7%;
        top: 69%;
        left: 87%;
        width: 7px;
        z-index: 79999;
    }

[data-role="bug"]{
    background-color: transparent;
}

[data-role="bug"].shown-bug{
    width: 7px;
     background-color: #d13e0c;   
    opacity: 1;
    height: 7px;
    position: absolute;
    animation: bugAnim 5s;
}



@keyframes bugAnim {

}

[data-role="bug"].lok3{
    animation: bugAnimLok3 5s;
     animation-fill-mode: forwards;
}


@keyframes bugAnimLok3 {
 
}

@keyframes bugAnimLok3 {
    0% {
        transform: translate(0, 0);
         opacity: 0.1; 
    }
      
        40% {
        transform: translate(7px, 7px);
             opacity: 1; 
    }
    
    
    70% {
         transform: translate(10px, 10px);
        opacity: 1; 
    }
    100% {
     
        opacity: 0; 
    }
}
[data-role="bug"].lok1{
    animation: bugAnimLok1 5s;
     animation-fill-mode: forwards;
}


@keyframes bugAnimLok1 {
    0% {
        transform: translate(0, 0);
         opacity: 0.1; 
    }
      
        40% {
        transform: translate(-3px, -3px);
             opacity: 1; 
    }
    
    
    90% {
        opacity: 1; 
    }
    100% {
        transform: translate(-40px, -15px);
        opacity: 0; 
    }
}


[data-role="bug"].lok2{
    animation: bugAnimLok2 5s;
     animation-fill-mode: forwards;
}


@keyframes bugAnimLok2 {
    0% {
        transform: translate(0, 0);
         opacity: 0; 
    }
    
        40% {
        transform: translate(3px, 3px);
             opacity: 1; 
    }
    
    90% {
        opacity: 1; 
    }
    100% {
        transform: translate(15px, 5px);
        opacity: 0; 
    }
}


[data-role="bug"].lok4{
    animation: bugAnimLok4 5s;
     animation-fill-mode: forwards;
}


@keyframes bugAnimLok4 {
    0% {
        transform: translate(0, 0);
    }
      
        40% {
        transform: translate(5px, 5px);
    }
    
 90% {
        opacity: 1; 
    }
    100% {
        transform: translate(10px, -5px);
        opacity: 0; 
    }
}


[data-role="bug"].lok5{
    animation: bugAnimLok5 7s;
    animation-fill-mode: forwards;
}


@keyframes bugAnimLok5 {
    0% {
        transform: translate(0, 0);
        opacity: 0.1; 
    }
      
        40% {
        transform: translate(5px, 5px);
             opacity: 1; 
    }
    
  90% {
        opacity: 1; 
    }
    100% {
        transform: translate(1px, 10px);
        opacity: 0; 
    }
}


[data-role="bug"].lok6{
    animation: bugAnimLok6 7s;
     animation-fill-mode: forwards;
}


@keyframes bugAnimLok6 {
    0% {
        transform: translate(0, 0);
    }
      
        40% {
        transform: translate(5px, 5px);
    }
    
   90% {
        opacity: 1; 
    }
    100% {
        transform: translate(0px, 25px);
        opacity: 0; 
    }
}

[data-role="bug"].lok0b{
    animation: bugAnimLok0b 7s;
     animation-fill-mode: forwards;
}


@keyframes bugAnimLok0b {
    0% {
        transform: translate(0, 0);
         opacity: 0.1; 
    }
    
        40% {
        transform: translate(2px, -8px);
             opacity: 0.5; 
    }
    
      50% {
             transform: translate(5px, -10px);
        opacity: 1; 
    }
    
    70% {
        transform: translate(10px, -30px);
        opacity: 1; 
    }
          90% {
        transform: translate(20px, -40px);
        opacity: 0.9; 
    }
    
      100% {
        transform: translate(21px, -41px);
        opacity: 0; 
    }
}





.container .m0{
     display: none;
    background-color: rgba(10, 15, 26, .0);
        border-radius: 100%;
        height: 19%;
        top: 28%;
        left: 10%;
        width: 19%;
    z-index: 80003;
    }

.container .m1{
     display: none;
     background-color: rgba(10, 15, 26, .0);
        border-radius: 100%;
        height: 19%;
        top: 60%;
        left: 51%;
        width: 19%;
    z-index: 80003;
    }
.container .m2{
     display: none;
     background-color: rgba(10, 15, 26, .0);
        border-radius: 100%;
        height: 19%;
        top: 7%;
        left: 26%;
        width: 19%;
    z-index: 80003;
    }
.container .m3{
     display: none;
     background-color: rgba(10, 15, 26, .0);
        border-radius: 100%;
        height: 19%;
        top: 46%;
        left: 75%;
        width: 19%;
        z-index: 80003;
    }


.container .m4{
     display: none;
     background-color: rgba(10, 15, 26, .0);
        border-radius: 100%;
        height: 19%;
        top: 45%;
        left: 33%;
        width: 19%;
        z-index: 80003;
    }

.container .m5{
     display: none;
     background-color: rgba(10, 15, 26, .0);
        border-radius: 100%;
        height: 19%;
        top: 39%;
        left: 65%;
        width: 19%;
        z-index: 80003;
    }

.container .wikiread{
     display: block;
     background-color: rgba(19, 19, 76, .0);
        border-radius: 100%;
        height: 15%;
        top: 41%;
        left: 67%;
        width: 15%;
        z-index: 1000000;
    }
.container .m6{
     display: none;
     background-color: rgba(10, 15, 26, .0);
        border-radius: 100%;
        height: 19%;
        top: 0%;
        left: 69%;
        width: 19%;
        z-index: 80003;
    }
.container .m7{
     display: none;
     background-color: rgba(10, 15, 26, .0);
        border-radius: 100%;
        height: 19%;
        top: 59%;
        left: 67%;
        width: 19%;
        z-index: 80003;
    }

      .container .c{
           display: block !important;
           background-color: rgba(10, 15, 26, .10);
        border-radius: 100%;
        height: 2%;
        top: 83%;
        left:13%;
        width: 2%;
          z-index: 100000;
    }
     .container .c1{
          background-color: rgba(10, 15, 26, .10);
        border-radius: 100%;
        height: 2%;
        top: 83%;
        left: 26%;
        width: 2%;
    }
 .container .c2{
      background-color: rgba(10, 15, 26, .10);
        border-radius: 100%;
        height: 2%;
        top: 83%;
        left: 39%;
        width: %;
    }

 .container .c3{
      background-color: rgba(10, 15, 26, .10);
        border-radius: 100%;
        height: 2%;
        top: 83%;
        left: 45%;
        width: %;
    }
 .container .c4{
      background-color: rgba(10, 15, 26, .10);
        border-radius: 100%;
        height: 2%;
        top: 83%;
        left: 51%;
        width: %;
    }

 .container .c5{
      background-color: rgba(10, 15, 26, .10);
        border-radius: 100%;
        height: 2%;
        top: 83%;
        left: 57%;
        width: %;
    }

 .container .c6{
      background-color: rgba(10, 15, 26, .10);
        border-radius: 100%;
        height: 2%;
        top: 83%;
        left: 61%;
        width: %;
    }

 .container .c7{
      background-color: rgba(10, 15, 26, .10);
        border-radius: 100%;
        height: 2%;
        top: 83%;
        left: 67%;
        width: %;
    }

 .container .c8{
      background-color: rgba(10, 15, 26, .10);
        border-radius: 100%;
        height: 2%;
        top: 83%;
        left: 71%;
        width: %;
    }

 .container .c9{
      background-color: rgba(10, 15, 26, .10);
        border-radius: 100%;
        height: 2%;
        top: 83%;
        left: 75%;
        width: %;
    }

 .container .c10{
      background-color: rgba(10, 15, 26, .10);
        border-radius: 100%;
        height: 2%;
        top: 83%;
        left: 87%;
        width: %;
    }

.loader {
    width: 100px;
    height: 100px;
    -webkit-perspective: 100px;
    perspective: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.picture{
    display: none;
    width: 40px;
    height: 25px;
   
    position: absolute;
    left: 5%;
    top:6%;
}

.key-hold-img,
.key-hold-bug{
    z-index: 80003;
    display: none;
}

.bug-buttons{
    z-index: 80005;
    display: none;
    position: absolute;
    bottom: 20%;
    width: 100%;
}

.bug-buttons button
{
    background-color: #585858;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 2px;
    margin: 20px;
}

.key-hold-img .govno{
    z-index: 80001;
    display: block !important;
}

.key-hold-img .teleskopImages{
    z-index: 80002;
    display: block !important;
}

.key-hold-img .wall-image-hold{
    z-index: 80001;
    display: block !important;
}

.key-hold-img .zaklon{
    z-index: 80005000000;
    display: block !important;
}



.loader__tile {
    display: block;
    float: left;
    width: 33.33%;
    height: 33.33%;
    -webkit-animation-name: flip;
    animation-name: flip;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 0;
}

.loader__tile__1 {
    background-color: #943048;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loader__tile__2 {
    background-color: #d7532d;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loader__tile__3 {
    background-color: #d2cabb;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loader__tile__4 {
    background-color: #9faad0;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.loader__tile__5 {
    background-color: #b39a3b;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.loader__tile__6 {
    background-color: #dc2c34;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.loader__tile__7 {
    background-color: #ece5be;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.loader__tile__8 {
    background-color: #d07500;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.loader__tile__9 {
    background-color: #7983a9;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes flip {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    11% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@keyframes flip {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    11% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

.container a {
    display: none;
   
    position: absolute;
    background-color: rgba(43, 15, 226, .1);
    display: none;
   
    height: 8%;
    top: -1%;
    left: 37%;
    width: 8%;
   /* pointer-events:none;
*/
}

.container a:after{
    content: "m";
    font-size: 0;
    -webkit-animation:colorchange 0s;
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
    background-color: gray;
    width: 20px;
    height:20px;
    position: absolute;
    top:55px;
    
    display:inline-block;
    border-radius: 100%;
    z-index: 10;
}

body:not(.auto-link-click-enabled) .container a{
    display: none;
    pointer-events: none;
    cursor: default;
}

body:not(.auto-link-click-enabled) .container a:after{
    display: none !important;
}

.c{
    visibility: hidden;
}

.bug-text,
.fixed-chat-parent{
    position: fixed;
    bottom: 30px;
    text-align: center;
    width: 100%;
    left: 0;
}


.container a.c:after{
    display: none !important;
}


@-webkit-keyframes blinker {
    from {opacity: 1.0;transform: scale(0)}
    to {opacity: 0.0;transform: scale(1)}
}
.blink{

}

.container a.shown,
.container a.shown:after{
    pointer-events: auto;
    display: inline-block;
}



  .s, .d, .f, .e {  
    -webkit-animation:colorchange 13s;
}

@-webkit-keyframes colorchange {
    0% {
        background-color: #fafdfa;
    }
    
    50% {
        background-color: #fafdfa;
    }


}

p {
    display: block;
    color: grey;
    position: relative;
    margin-top: 10px;
    margin-left: 100px;

}

div.container {
    max-width:600px;
    
    margin:auto;
    text-align: center;
    position: relative;
    margin-top: 120px;
        background-color: #ffffff;
 
}

.load-img{
    position: relative !important;
}

body div.container .wall-image{
    z-index: 9;
    width: 25.7%;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 14.3%;
}



   


div.container img{
    max-height: calc(100vh - 100px - 100px);
    width: 100%;
     
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.okrugli-link{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    background-color: blue;
   
}

.link1{
    left: 30%;
    top: 15%;
}

.link2{
    left:40%;
    top: 50%;
}

.link3{
    left:83%;
    top: 53%;
}

.link4{
    left:85%;
    top: 13%;
}

.link5{
    left:68%;
    top: 43%;
}
.link6{
    left:70%;
    top: 58%;
} 
.link7{
    left:61%;
    top: 69%;
}
.link8{
    left:21%;
    top: 29%;
}

.kukac{  
   z-index: 10;
}


.teleskop-pokazan .tunos{  
    display: none !important;
}

.slika-pokazana .sunos{  
    display: none !important;
}

.prozorpodloga-pokazan .skok{
    display: none !important;
}


.teleskop-img{
    display: none;
}

.teleskop-pokazan:not(.teleskop-pokazan-uvjek) .teleskop-img{
    z-index: 80;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-name: show;
    animation-name: show;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
 html .teleskop-pokazan.teleskop-pokazan-uvjek .teleskop-img
 {
     display: block !important;
     z-index: 80;
 }

@-webkit-keyframes show {
    0% {
       display: none;
    }
    100% {
        display: block !important;
    }
}


@-webkit-keyframes hide {
    100% {
        display: none !important;
    }
}

.teleskop-pokazan .t{
        display: block !important;
}

a.disabled{
        display: none !important;
}

.slika-pokazana .pipa{
        display: block !important;

}

.t{
    display: none !important;
}

.ot{
    display: block;
}

.zat,
.skok,
.prozor-img{
    display: none !important;
     z-index: 90;
}

.prozor-otvoren .zat,
.prozor-otvoren .skok{
    display: block !important;
}

body .prozor-otvoren:not(.prozor-otvoren-uvjek) .prozor-img{
         display: block !important;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: show;
    animation-name: show;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 90;

}

body .prozor-otvoren.prozor-otvoren-uvjek .prozor-img
{
    display: block !important;
    z-index: 90;
}



body .prozorpodloga-img {
    display: none;
    z-index: 80070;
}

body.prozorpodloga-pokazan:not(.prozorpodloga-pokazan-uvjek) .prozorpodloga-img {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: show;
    animation-name: show;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 120;
    display: block;
}

body .prozorpodloga-pokazan.prozorpodloga-pokazan-uvjek .prozorpodloga-img {
    display: block !important;
    z-index: 120;
}

.prozor-otvoren{
    display: block !important;
     z-index: 90;
}

.prozor-img{
    display: none !important;
     z-index: 90;
}


.prozor-otvoren .ot{
    display: none !important;
    
}

#svemir{
    background-color: #272729;
    z-index: 99999;
    display: none;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed !important;
}

.modal p{
    margin-left: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
}

.modal h4{
    font-family: Arial, Helvetica, sans-serif;
}

.blocker{
    z-index: 9999999999 !important;
}

body:hover{
    cursor: url(/images/cursorlook.png), auto;
}

a:hover,
button:hover{
    cursor: url(/images/cursormove.png), auto;
}

[data-wiki]:hover{
    cursor: url(/images/cursorkomp.png), auto !important;
}

/*body.auto-link-click-disabled-medlodia *{*/
    /*cursor: not-allowed !important;*/
/*}*/

embed{
    position: absolute;
    top: -500px;
    left: -500px;
}

[data-role="chat-parent"]
{
    border:1px solid #888270;
    border-radius: 4px;
    padding: 20px;
    width: 400px;
    display: inline-block;
    background-color: #fbfdfa;
    float: left;
}

[data-role="location"]
{
    height: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    line-height: 20px;
    text-align: center;
    /*border-bottom:1px solid #888270;*/
}

[data-role="location"] h3{
    margin: 0 !important;
}

.main-chat-parent{
    display: none;
}

[data-role="chat-parent"] [data-role="message"]{
    height: 300px;
    overflow: auto;
    display: block;
}

[data-role="chat-parent-user"]{
    position: relative !important;
    margin: 0 auto;
    right: auto !important;
    top: auto !important;
}

[data-role="chat-parent"] textarea{
    width: 300px;
    float: left;
    height: 60px;
    border: 1px solid #888270;
}

[data-role="chat-parent-user"] textarea{
    width: 247px;
    float: left;
    height: 30px;
    border: 1px solid #888270;
}


[data-role="chat-parent-user"] button{
    height: 30px;
    float: left;
    border-left: 0;
    border: 1px solid #888270;
    background-color: white;
}

[data-role="chat-parent"] button{
    width: 100px;
    height: 60px;
    float: left;
    border-left: 0;
    border: 1px solid #888270;
    background-color: white;
}

.admin-container{
    padding: 60px;
    text-align: center;
}

.info h3{
    font-weight: bold;
}

.info h3,
.info p{
    display: inline-block;
    color: black;
    font-size: 12px;
    margin: 0;
}

.info{
    margin-left: -20px;
    margin-right: -20px;
    border-bottom: 1px solid #888270;
    padding-bottom: 5px;
}

.user-chat{
    position: fixed;
    width: 300px;
    top: 20px;
    right: 20px;
}

.user-chat[data-role="chat-parent"] textarea{
    width: 200px;
}