body{
    margin: 0 !important;
}

a,  u {
    text-decoration: none;
    width:100%;
    margin: 0 auto;
    text-align: center;
    color: grey;
    display: block;
    position: relative;
    -webkit-animation:colorchange 1s;
}

.s, .d, .f, .e {
    -webkit-animation:colorchange 1s;
}

@-webkit-keyframes colorchange {
    0% {
        color: white;
    }

    65% {
        color: white;
    }
    89% {
        color: gray;
    }

    90% {
        color: pink;
    }
}

p {
    display: block;
    color: grey;
    position: relative;
    margin-top: 10px;
    margin-left: 100px;

}

div.container {
    max-width:600px;
    height: 100vh;
    box-sizing: border-box;
    margin:auto;
    text-align: center;
    position: relative;
    padding-top: 100px;
    overflow: hidden;
}

div.container img{
    max-height: calc(100vh - 100px - 100px);
    width: 600px;
    border: 20px solid gray;
      box-sizing: border-box;
}

div.container .link-block{
    height: 100px;
      box-sizing: border-box;
    font-size: 13px;
    padding-top: 10px;
}

.okrugli-link{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    background-color: gray;
}