<img class="main-tpl-img" src="images/zatprozor-krevet.gif">

<embed  src="images/zatprozor-krevet.mp3" loop="false" autostart="true" hidden="true" />

<img class="preload-img" src="images/krevet-sjedi.gif" />
<img class="preload-img" src="images/krevet-sjedix.gif" />

<img class="preload-img" src="images/zkrevet-kutlezi.gif" />

<a href="primjerm5" data-routable="true" class="m5" >m5(skok-off)</a>

<a href="primjerskok" data-routable="true"  class="m7 skok ">skok</a>
<a href="primjerot" data-routable="true"   class="m4 ot">ot</a>
<a href="primjerzat" data-routable="true"  class="m6 zat">zat</a>


<style>

</style>

  <script>
       
         gifTime =vc22;
    
</script>