<img class="main-tpl-img" src="images/sjedi-otprozor.gif">

<embed  src="images/sjedi-otprozor.mp3" loop="false" autostart="true" hidden="true" />


<img class="preload-img" src="images/prozor-teleskop.gif" />
<img class="preload-img" src="images/prozor-sjedi.gif" />
<img class="preload-img" src="images/zatprozor-krevet.gif" />
<img class="preload-img" src="images/zkrevet-kutprozor.gif" />


<a href="primjerm5" data-routable="true" class="m5" >m5(skok-off)</a>

<a href="primjerskok" data-routable="true"  class="m7 skok">skok</a>
<a href="primjerot" data-routable="true"   class="m4 ot">ot</a>
<a href="primjerzat" data-routable="true"  class="m6 zat">zat</a>

<style>
   
</style>

  <script>
       
         gifTime =vc25;
    
</script>