<img class="main-tpl-img" src="images/komp-sint.gif">

 <embed  src="images/komp-sint.mp3" loop="false" autostart="true" hidden="true" />


<img class="preload-img" src="images/zkrevet-kutsint.gif" />
<img class="preload-img" src="images/sint-sjedi.gif" />
<img class="preload-img" src="images/sint-teleskop.gif" />

<a href="primjerkomp" data-routable="true" class="c" >(random.link.di.ode.nakon.odsvira.sint)</a>

<a href="primjersint" data-routable="true"  data-sint="on" class="c c5 ">sint</a>

  <script>
       
         gifTime =melodija-time;
    
</script>
