<img class="main-tpl-img" src="images/sjedi-otprozor-stolstol.gif">

 
<a href="a138" data-routable="true" class="m"></a> 

  

<a href="a132" data-routable="true" class="c"></a>

<style>
     .container .m1{
    
         top: 23%;
         left: 67%;
        
    }

     .container .m{
       
         top: 66%;
         left: 59%;
        
     }

    .container .m:after{
        background-color: ;
    }
</style>