<img class="main-tpl-img" src="images/vrata-komppolica.gif">

<a href="a36" data-routable="true" class="m"></a>



<a href="a51" data-routable="true" class="c"></a>

<style>
     .container .m1{
        border-radius: 100%;
         height: 16%;
         top: 23%;
         left: 67%;
         width: 14%;
    }

     .container .m{
         
         top: 52%;
         left: 41%;
     
     }

    .container .m:after{
        background-color: ;
    }
</style>