<img class="main-tpl-img" src="images/vrata-krevet.gif">




<a href="a44" data-routable="true" class="m1"></a>

<a href="a27" data-routable="true" class="c"></a>

<style>
     .container .m1{
      
         top: 40%;
         left: 69%;
       
    }

     .container .m{
         border-radius: 100%;
         height: 16%;
         top: 23%;
         left: 67%;
         width: 14%;
     }

    .container .m:after{
        background-color: ;
    }
</style>