<img class="main-tpl-img" src="images/vrata-stollezi.gif">

<a href="a56" data-routable="true" class="m"></a>



<a href="a64" data-routable="true" class="m1"></a>
<a href="a70" data-routable="true" class="c"></a>
<style>
     .container .m{
       
         top: 52%;
         left: 41%;
       
    }

     .container .m1{
      
         top: 66%;
         left: 59%;
        
     }

    .container .m:after{
        background-color: blue;
    }
</style>