<img class="main-tpl-img" src="images/krevet-kutsjediot.gif">

<a href="a59" data-routable="true" class="m"></a>



<a href="a80" data-routable="true" class="c"></a>

<style>
     .container .m1{
        border-radius: 100%;
         height: 16%;
         top: 43%;
         left: 67%;
         width: 14%;
    }

     .container .m{
         border-radius: 100%;
         height: 16%;
         top: 23%;
         left: 67%;
         width: 14%;
     }

    .container .m:after{
        background-color: blue;
    }
</style>