
<img class="main-tpl-img" src="images/kut-vrata.gif">
<img class="main-tpl-img" src="images/plava.png">
<a href="a6" data-routable="true" class="m"></a>

<a href="z112" class="c"></a>

<style>
     .container .m{
        
        top: 51%;
         left: 87%; 
       
        
    }

    .container .m1{
       
           top: 36%;
         left: 18%;
         
        
    }
    
    .container .m:after{
        background-color: ;
    }
</style>