<img class="main-tpl-img" src="images/stolica-komplik.gif">
<img class="main-tpl-img" src="images/skica1.jpg" class="key-hold-img">
<a href="x34" data-routable="true" class="m1"></a>
<a href="x38" data-routable="true" class="m"></a>

<a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">i</a>
<a href="a83" data-routable="true" class="c"></a>

<style>
     .container .m1{
        
         top: 3%;
         left: 71%;
         
    }

     .container .m{
         
         top: 36%;
         left: 18%;
         
     }
    
      .container .{
         
         top: 36%;
         left: 18%;
         
     }

    .container .m:after{
        background-color: ;
    }
</style>