<img class="main-tpl-img" src="images/krevet-kutkomp.gif">

<a href="x24" data-routable="true" class="m"></a>



<a href="a41" data-routable="true" class="c"></a>

<style>
     .container .m{
        
         top: 8%;
         left: 31%;
         
    }

     

    .container .m:after{
        background-color: ;
    }
</style>