<img class="main-tpl-img" src="images/6.1.gif">



<img class="preload-img" src="images/krevet-kut.gif" />
<img class="preload-img" src="images/vrata-komp.gif" />
<img class="preload-img" src="images/vrata-teleskop.gif" />
<img class="preload-img" src="images/vrata-slika.gif" />
<img class="preload-img" src="images/vrata-pipasliku.gif" />


<a href="primjersvemiron" data-routable="true"  data-svemir="on" class="c c9 ">svemiron</a>
<a href="primjersvemiroff" data-routable="true" data-svemir="off" class="c c10 ">svemiroff</a>
<style>
     

</style>
  <script>
       
         gifTime =vm7;
    
</script>