<img class="main-tpl-img" src="images/vrata-slika.gif">

<embed  src="images/vrata-slika.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" src="images/skica2.jpg" >



<img class="preload-img" src="images/zkrevet-kutgledasliku.gif" />
<img class="preload-img" src="images/gledasliku-komp.gif" />
<img class="preload-img" src="images/gledasliku-prozor.gif" />
<img class="preload-img" src="images/gledasliku-krevet.gif" />



<a href="primjersunos" data-routable="true" class="c c1 sunos">sunos</a>

<a href="primjerpipa" data-routable="true" class="c c3 pipa">pipa</a>

<script>

    var lastClicked = localStorage.getItem('clicked-img');

    changeWallImage(lastClicked);
   gifTime =vc27;
</script>