
<img class="main-tpl-img" src="images/stol-kut.gif" data-lokacija="lok1" >


<img class="key-hold-img" data-wall-position="p1" src="images/vkut.jpg" >

<img class="preload-img" src="images/kut-prozor.gif" />
<img class="preload-img" src="images/kut-vrata.gif" />
<img class="preload-img" src="images/zvrata-stolkut.gif" />
<img class="preload-img" src="images/zvrata-teleskopkut.gif" />
<img class="preload-img" src="images/vrata-slikakut.gif" />
<img class="preload-img" src="images/vrata-pipaslikukut.gif" />

<a href="z358" data-routable="true"  data-sound="m7"  class="m7 skok"></a>
<a href="cetiri" data-routable="true"  data-sound="m2"  class="m2"></a>



<a href="z112" data-routable="true" class="c"></a>
<a href="a97" data-routable="true" class="c c1 sunos"></a>
<a href="h23" data-routable="true" class="c c2 tunos"></a>
<a href="z121" data-routable="true" class="c c3 pipa"></a>

  <script>
       
         gifTime =vm4;
    
</script>