<img class="main-tpl-img" src="images/vrata-slikastol.gif">

<embed  src="images/vrata-slika.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-position="p3" src="images/vstolgledasliku.jpg" >
<img class="key-hold-img zaklon"    src="images/t2proba.png" >


<img class="preload-img" src="images/zstol-kutpravigledasliku.gif" />
<img class="preload-img" src="images/zstol-stolicagledasliku.gif" />
<img class="preload-img" src="images/zgledasliku-prozorstol.gif" />
<img class="preload-img" src="images/slika-krevetstol.gif" />
<img class="preload-img" src="images/zgledasliku-kompstol.gif" />



<a href="z206" data-routable="true" data-sound="m1b"  class="m1"></a>
<a href="z207" data-routable="true"  data-sound="m4" class="m4"></a>
  

 <a href="z186" data-routable="true" class="c"></a> 
<a href="z199" data-routable="true" class="c c1"></a>
<a href="z186" data-routable="true" data-wiki-change="true"  class="c c2"></a>

<style>

</style>

      <script>
    changeWallImage();
</script>