<img class="main-tpl-img" src="images/vrata-slikastol.gif">

<img class="main-tpl-img" src="images/skica2.jpg" class="key-hold-img">
<a href="z206" data-routable="true" class="m1"></a>
<a href="z207" data-routable="true" class="m4"></a>
  

 <a href="h3" data-routable="true" class="c"></a> 
<a href="z199" data-routable="true" class="c c1"></a>
<a href="z186" data-routable="true" class="c c2"></a>

<style>

</style>
      <script>
    changeWallImage();
</script>