<img class="main-tpl-img" src="images/vrata-slikastolica.gif">

<embed  src="images/vrata-slika.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-position="p4" src="images/vstolicagledasliku.jpg" >

<img class="preload-img" src="images/zstolica-kompgledasliku.gif" />
<img class="preload-img" src="images/zstolica-prozorgledasliku.gif" />
<img class="preload-img" src="images/zgledasliku-prozorstolica.gif" />
<img class="preload-img" src="images/slika-krevetstolica.gif" />
<img class="preload-img" src="images/zgledasliku-kompstolica.gif" />

<a href="z208" data-routable="true" data-sound="m5"  class="m5"></a>
<a href="z234" data-routable="true" data-sound="m7"  class="m7 skok"></a>
  

<a href="z187" data-routable="true"  data-wiki-change="true" class="c"></a>
<a href="z200" data-routable="true" class="c c1"></a>
<a href="h47" data-routable="true" class="c c2"></a>
<style>
  
</style>
      <script>
    changeWallImage();
</script>