<img class="main-tpl-img" src="images/sjedi-zatprozor-stolsam.gif">

<a href="x22" data-routable="true" class="m"></a>



<a href="a13" data-routable="true" class="c"></a>

<style>
 
     .container .m{
  
         top: 66%;
         left: 59%;
       
     }

    .container .m:after{
        background-color: ;
    }
</style>