
<img src="images/stolica-komp.gif">

<a href="a14" data-routable="true" class="m"></a>
<a href="a20" data-routable="true" class="m1"></a>


<a href="a23" data-routable="true" class="c"></a>

<style>
    
        
     .container .m1{
       
         top: 36%;
         left: 18%;
        
    }

     .container .m{
       
         top: 3%;
         left: 71%;
        
     }

    .container .m:after{
        background-color: ;
    }
</style>