<img src="images/krevet-kutlezislika.gif">

<a href="a122" data-routable="true" class="m"></a>



<a href="a129" data-routable="true" class="c"></a>

<style>
     .container .m1{
        border-radius: 100%;
         height: 16%;
         top: 43%;
         left: 67%;
         width: 14%;
    }

     .container .m{
     
         top: 66%;
         left: 59%;
        
     }

    .container .m:after{
        background-color: ;
    }
</style>