<img src="images/stolica-komplezislika.gif">

<a href="a132" data-routable="true" class="m"></a>
<a href="a134" data-routable="true" class="m1"></a>


<a href="a125" data-routable="true" class="c"></a>

<style>
     .container .m1{
        border-radius: 100%;
         height: 16%;
         top: 43%;
         left: 67%;
         width: 14%;
    }

     .container .m{
     
         top: 66%;
         left: 59%;
        
     }

    .container .m:after{
        background-color: ;
    }
</style>