
<img class="main-tpl-img" src="images/komp-polica.gif">


<img class="key-hold-img" data-wall-postion="p6" src="images/vpolica2.jpg" >

<img class="preload-img" src="images/polica-stolica.gif" />
<img class="preload-img" src="images/polica-bed.gif" />
<img class="preload-img" src="images/zvrata-stolpolica.gif" />
<img class="preload-img" src="images/zvrata-teleskoppolica.gif" />
<img class="preload-img" src="images/vrata-slikapolica.gif" />
<img class="preload-img" src="images/vrata-pipaslikupolica.gif" />


<a href="a16" data-routable="true" class="m4"></a>
<a href="a149" data-routable="true" class="m0"></a>


<a href="z118" data-routable="true" class="c pipa"></a>
<a href="a109" data-routable="true" class="c c1 sunos"></a>
<a href="h30" data-routable="true" class="c c2 tunos"></a>
<a href="z117" data-routable="true" class="c c3"></a>

<style>
    
</style>