<img class="main-tpl-img" src="images/vrata-stolsjedislika.gif">

<a href="a144" data-routable="true" class="m"></a>
<a href="a146" data-routable="true" class="m1"></a>


<a href="a141" data-routable="true" class="c"></a>

<style>
     .container .m1{
        border-radius: 100%;
         height: 16%;
         top: 43%;
         left: 67%;
         width: 14%;
    }

     .container .m{
     
         top: 66%;
         left: 59%;
        
     }

    .container .m:after{
        background-color: ;
    }
</style>