<img src="images/vrata-kompkut.gif">

<a href="a24" data-routable="true" class="m"></a>



<a href="a41" data-routable="true" class="c"></a>

<style>
     .container .m1{
        border-radius: 100%;
         height: 16%;
         top: 23%;
         left: 67%;
         width: 14%;
    }

     .container .m{
       
         top: 8%;
         left: 31%;
         
     }

    .container .m:after{
        background-color: ;
    }
</style>