<img class="main-tpl-img" src="images/pocetna3.gif" data-lokacija="lok0" >

<embed  src="images/bratec.mp3" loop="false" autostart="true" hidden="true" />


<img class="preload-img" src="images/prvapocetna.gif" />





<a href="https://www.patreon.com/paketiSa" class="d10"> PATREON 
</a>
<a href="a18" data-routable="true"  class="d11">MAIN</a>

<a class="d12">
<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fmujc.space&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="69" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></a>


<p2 class="d13">Mujc.space is a quazi-educational room game in witch you play the cat Mujc. <br>
Explore the multiple degrees of freedom of movement now!<br>
Whitnes and take part in the creative hobbies of one of your coinhabitans while making life and death desigions about some of the others - literaly!<br>
Go on and give it a go!
<br>

 The paintings, melodies and texts-snippets are submited by our generous patreon suporters. <br>
So if you want to,  share your original artwork, music and poems with others forever, and in that way suport me in making more internet games <br>(credits and short description references of your content in the bug-comments!)<br>
    say hi --- paketisa11@gmail.com<br>
    Much obliged.
        
</p2>
<style>
 

</style>
  <script>
       
       gifTime =vm3;  
    
</script>