<img class="main-tpl-img" src="images/prvapocetna.gif" data-lokacija="lok0" >

 <embed  src="images/molodija.mp3" loop="false" autostart="true" hidden="true" />


<img class="preload-img" src="images/pocetna3.gif" />
<img class="preload-img" src="images/pocetna.gif" />

MAIN MENU<br>


<a href="a19" data-routable="true"  data-svemir="on"  data-wiki-change="true"  class="d11 first-links">Start</a>

<a href="a17" data-routable="true"    class="d10 first-links">About</a>



<style>
     

</style>
  <script>
        gifTime =vm3;
        
    
</script>