<img class="main-tpl-img" src="images/prvapocetna.gif" data-lokacija="lok0" >

 <embed  src="images/molodija.mp3" loop="false" autostart="true" hidden="true" />


<img class="preload-img" src="images/pocetna3.gif" />
<img class="preload-img" src="images/pocetna.gif" />



<a href="a19" data-routable="true"  data-svemir="on"  class="m11">Start</a>

<a href="a17" data-routable="true"    class="m10">About</a>



<style>
     

</style>
  <script>
        gifTime =vm3;
        
    
</script>