<img class="main-tpl-img" src="images/pocetna.gif" data-lokacija="lok0" >


<img class="preload-img" src="images/krevet-bed.gif" />
<img class="preload-img" src="images/krevet-kut.gif" />
<img class="preload-img" src="images/vrata-komp.gif" />



<a href="dva" data-routable="true"  data-sound="m1"    data-svemir="off"  class="m1"></a>
<a href="z338" data-routable="true"   data-sound="m0b"  data-svemir="off"  class="m0"></a>


<a href="jedan" data-routable="true" class="c"></a>



<style>
     

</style>
  <script>
       
    
    
</script>