<img src="images/vrata-kompstolica.gif">
<embed  src="images/vrata-stol.mp3" loop="false" autostart="true" hidden="true" />
<a href="a32" data-routable="true" class="m"></a>



<a href="a47" data-routable="true" class="c"></a>

<style>
     .container .m1{
        border-radius: 100%;
         height: 16%;
         top: 23%;
         left: 67%;
         width: 14%;
    }

     .container .m{
        
         top: 40%;
         left: 69%;
     
     }

    .container .m:after{
        background-color: ;
    }
</style>