<img src="images/vrata-kompkomp.gif">

<a href="a34" data-routable="true" class="m"></a>
<a href="a96" data-routable="true" class="m1"></a>

<a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">1</a>

<a href="a49" data-routable="true" class="c"></a>

<style>
     .container .m1{
       
         top: 36%;
         left: 18%;
       
    }

     .container .m{
     
         top: 3%;
         left: 71%;
        
     }

    .container .m:after{
        background-color: ;
    }
</style>