<img class="main-tpl-img" src="images/kut-vratalik.gif">

<a href="a26" data-routable="true" class="m"></a>



<a href="a43" data-routable="true" class="c"></a>

<style>
     .container .m1{
        
         top: 36%;
         left: 18%;
        
    }

     .container .m{
       
         top: 51%;
         left: 87%;
       
     }

    .container .m:after{
        background-color: ;
    }
</style>