<img src="images/stolica-komplik.gif">

<a href="a34" data-routable="true" class="m"></a>



<a href="a49" data-routable="true" class="c"></a>

<style>
     .container .m1{
       
        top: 43%;
         left: 67%;
         
    }

     .container .m{
       
         top: 40%;
         left: 69%;
       
     }

    .container .m:after{
        background-color: ;
    }
</style>