<img class="main-tpl-img" src="images/vrata-slika.gif">

<img class="main-tpl-img" src="images/skica2.jpg" class="key-hold-img">
<a href="a35" data-routable="true" class="c"></a>

  

<a href="a102" data-routable="true" class="m"></a>

<style>
     .container .m1{
    
         top: 23%;
         left: 67%;
        
    }

     .container .m{
       
         top: 66%;
         left: 59%;
        
     }

    .container .m:after{
        background-color: ;
    }
</style>
      <script>
    changeWallImage();
</script>