<img class="main-tpl-img" src="images/vrata-slika.gif">

<embed  src="images/vrata-slika.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" src="images/skica2.jpg" >



<img class="preload-img" src="images/zkrevet-kutgledasliku.gif" />
<img class="preload-img" src="images/gledasliku-komp.gif" />
<img class="preload-img" src="images/gledasliku-prozor.gif" />
<img class="preload-img" src="images/gledasliku-krevet.gif" />




<a href="h3" data-routable="true" class="c c2"></a>

<a href="h6" data-routable="true" class="c"></a>
<a href="z16" data-routable="true" class="c c1"></a>
  

<a href="z203" data-routable="true" class="m1"></a>


<script>

    var lastClicked = localStorage.getItem('clicked-img');

    changeWallImage(lastClicked);
   gifTime =vc18;
</script>