<img src="images/stol-krevetstolica.gif">

<a href="a58" data-routable="true" class="m"></a>



<a href="a72" data-routable="true" class="c"></a>

<style>
     .container .m1{
        border-radius: 100%;
         height: 16%;
         top: 43%;
         left: 67%;
         width: 14%;
    }

     .container .m{
        
         top: 40%;
         left: 69%;
        
     }

    .container .m:after{
        background-color: ;
    }
</style>