<img class="main-tpl-img" src="images/komp-sint.gif">

 <embed  src="images/komp-sint.mp3" loop="false" autostart="true" hidden="true" />


<img class="preload-img" src="images/zkrevet-kutsint.gif" />
<img class="preload-img" src="images/sint-sjedi.gif" />
<img class="preload-img" src="images/sint-teleskop.gif" />


<img class="preload-img" src="images/zkrevet-bedsint.gif" />
<a href="z343" data-routable="true"   data-sound="m0b"  data-svemir="off" class="m0"></a>


<a href="z96" data-routable="true" data-svemir="off"  data-sound="m1" class="m1"></a>




<a href="h1" data-routable="true" class="c"></a>
<a href="z17" data-routable="true" class="c c1 t"></a>
  <script>
       
         gifTime =vc5;
    
</script>
