<img class="main-tpl-img" src="images/stol-stolicalezi.gif">


<a href="a58" data-routable="true" class="m"></a>



<a href="a72" data-routable="true" class="c"></a>

<style>
     .container .m{
        
         top: 40%;
         left: 69%;
       
    }

    

    .container .m:after{
        background-color: blue;
    }
</style>