<img class="main-tpl-img" src="images/stolica-komplezi.gif">

<a href="a60" data-routable="true" class="m"></a>
<a href="a98" data-routable="true" class="m1"></a>



<a href="a74" data-routable="true" class="c"></a>

<style>
     .container .m{
     
         top: 3%;
         left: 71%;
        
    }
 .container .m1{
     
         top: 36%;
         left: 18%;
        
    }

    

    .container .m:after{
        background-color: blue;
    }
</style>