


<img class="main-tpl-img" src="images/vrata-stol.gif" data-lokacija="lok3" >

<img class="key-hold-img"  data-wall-position="p3"   src="images/vstol.jpg" >

<img class="preload-img" src="images/stol-stolica.gif" />
<img class="preload-img" src="images/stol-kut.gif" />
<img class="preload-img" src="images/vrata-pipaslikustol.gif" />
<img class="preload-img" src="images/zvrata-stolstol.gif" />
<img class="preload-img" src="images/zvrata-teleskop.gif" />
<img class="preload-img" src="images/vrata-slikastol.gif" />

<a href="a8" data-routable="true" data-sound="m4" class="m4"></a>

<a href="a10" data-routable="true" data-sound="m1b" class="m1"></a>

<a href="z123" data-routable="true" class="c pipa"></a>
<a href="z114" data-routable="true" class="c c1"></a>
<a href="h25" data-routable="true" class="c c2 tunos"></a>
<a href="a101" data-routable="true" class="c c3 sunos"></a>


<style>
 
</style>
  <script>
       
         gifTime = vm3;
    
</script>