<img src="images/komp-policalezi.gif">

<a href="a62" data-routable="true" class="m"></a>



<a href="a76" data-routable="true" class="c"></a>

<style>
     .container .m{
       
         top: 52%;
         left: 41%;
        
    }

     .container .m1{
         border-radius: 100%;
         height: 16%;
         top: 23%;
         left: 67%;
         width: 14%;
     }

    .container .m:after{
        background-color: ;
    }
</style>