<img class="main-tpl-img" src="images/zvrata-stolsjedi.gif">

<a href="a63" data-routable="true" class="m1"></a>
<a href="a65" data-routable="true" class="m4"></a>


<a href="a84" data-routable="true" class="c"></a>

<style>
     .container .m1{
       
         top: 52%;
         left: 41%;
       
    }

     .container .m{
        
         top: 66%;
         left: 59%;
        
     }

    .container .m:after{
        background-color: blue;
    }
</style>