<img src="images/stol-stolicasjediot.gif">

<a href="a67" data-routable="true" class="m"></a>
<a href="a73" data-routable="true" class="m1"></a>


<a href="a88" data-routable="true" class="c"></a>

<style>
     .container .m1{
      
         top: 63%;
         left: 57%;
        
    }

     .container .m{
        
         top: 40%;
         left: 69%;
       
     }

    .container .m:after{
        background-color:;
    }
</style>