<img class="main-tpl-img" src="images/stolica-kompsjediot.gif">

<a href="a69" data-routable="true" class="m"></a>
<a href="a100" data-routable="true" class="m1"></a>


<a href="a90" data-routable="true" class="c"></a>

<style>
     .container .m1{
      
         top: 36%;
         left: 18%;
        
    }

     .container .m{
        
         top: 3%;
         left: 71%;
        
     }

    .container .m:after{
        background-color: ;
    }
</style>