

<img class="main-tpl-img" src="images/stol-krevetliksam.gif">

 <embed  src="images/stol-krevet.mp3" loop="false" autostart="true" hidden="true" />

<a href="a50" data-routable="true" class="m"></a>

<a href="a9" data-routable="true" class="c"></a>

<style>
     .container .m{
        border-radius: 100%;
         height: 16%;
         top: 43%;
         left: 57%;
         width: 16%;
    }

    .container .m:after{
        background-color: ;
    }
</style>