<img class="main-tpl-img" src="images/krevet-otprozor-sjedistolica.gif">

<a href="a67" data-routable="true" class="m"></a>

<a href="a73" data-routable="true" class="m1"></a>

<a href="a88" data-routable="true" class="c"></a>

<style>
     .container .m1{
        
         top: 57%;
         left: 68%;
       
    }

     .container .m{
        
         top: 40%;
         left: 69%;
        
     }

    .container .m:after{
        background-color: blue;
    }
</style>