<img class="main-tpl-img" src="images/komp-vanstol.gif">

<a href="y8" data-routable="true" class="m"></a>
<a href="y10" data-routable="true" class="m1"></a>


<a href="a47" data-routable="true" class="c"></a>

<style>
     .container .m1{
       
         top: 66%;
         left: 59%;
         
    }

     .container .m{
       
         top: 52%;
         left: 41%;
         
     }

    .container .m:after{
        background-color: ;
    }
</style>