<img class="main-tpl-img" src="images/vrata-slikakut.gif">

<embed  src="images/vrata-slika.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-wall-postion="p1"  data-teleskop-postion="t1" src="images/vkutgledasliku.jpg" >

<img class="preload-img" src="images/zkut-vratagledasliku.gif" />
<img class="preload-img" src="images/zgledasliku-prozorkut.gif" />
<img class="preload-img" src="images/slika-krevetkut.gif" />
<img class="preload-img" src="images/zgledasliku-kompkut.gif" />
<img class="preload-img" src="images/zkut-prozorgledasliku.gif" />


<a href="z354" data-routable="true"  data-sound="m7" class="m7 skok"></a>
<a href="z204" data-routable="true"  data-sound="m2" class="m2"></a>
 <a href="z197" data-routable="true" class="c"></a> 
<a href="z184" data-routable="true"  data-wiki-change="true" class="c c1"></a>
<a href="h66" data-routable="true" class="c c2 "></a>

<style>

</style>
 <script>
        var lastClicked = localStorage.getItem('clicked-img');
    changeWallImage();
       gifTime =vc17;
</script>