<img class="main-tpl-img" src="images/vrata-slikavrata.gif">

<embed  src="images/vrata-slika.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-teleskop-position="t2b"   data-govno-position="g2b" src="images/vvratagledasliku.gif" >

<img class="preload-img" src="images/zvrata-stolgledasliku.gif" />
<img class="preload-img" src="images/zgledasliku-prozorvrata.gif" />
<img class="preload-img" src="images/slika-krevetvrata.gif" />
<img class="preload-img" src="images/zgledasliku-kompvrata.gif" />
<img class="preload-img" src="images/zvrata-bedgledasliku.gif" />


<a href="z205" data-routable="true" data-sound="m3"  class="m3"></a>
<a href="z280" data-routable="true" data-sound="m0d"  class="m0"></a>
  

 <a href="h67" data-routable="true" class="c"></a> 
<a href="z185" data-routable="true"  data-wiki-change="true" class="c c1"></a>
<a href="z198" data-routable="true" class="c c2"></a>


  
 <script>
        var lastClicked = localStorage.getItem('clicked-img');
    changeWallImage();
       gifTime =vc17;
</script>