<img src="images/kut-vrata.gif">

<a href="b6" data-routable="true" class="m"></a>
<a href="a46" data-routable="true" class="m1"></a>
<a href="7" class="c"></a>

<style>
     .container .m{
        
        top: 51%;
         left: 87%; 
       
        
    }

    .container .m1{
       
           top: 36%;
         left: 18%;
         
        
    }
    
    .container .m:after{
        background-color: blue;
    }
</style>