
<img class="main-tpl-img" src="images/kut-vrata.gif">

<img class="key-hold-img" data-govno-postion="g2"  data-teleskop-postion="g2" src="images/vvrata.jpg" >


<img class="preload-img" src="images/vrata-bed.gif" />
<img class="preload-img" src="images/vrata-stol.gif" />
<img class="preload-img" src="images/zvrata-stolstol.gif" />
<img class="preload-img" src="images/zvrata-teleskopvrata.gif" />
<img class="preload-img" src="images/vrata-slikavrata.gif" />


<a href="a6" data-routable="true"  data-sound="m3" class="m3"></a>
<a href="a153" data-routable="true"  data-sound="m0d" class="m0"></a>



<a href="z113" data-routable="true" class="c c1"></a>
<a href="h24" data-routable="true" class="c c2 tunos"></a>
<a href="a99" data-routable="true" class="c c3 sunos"></a>

<style>
      .govno{
    z-index: 10000000;
}
</style>
  <script>
       
         gifTime =vm2;
    
</script>