<img class="main-tpl-img" src="images/zvrata-teleskopprozor.gif" data-lokacija="lok7" >


<audio controls autoplay hidden>
    <source src="images/vrata-teleskop.mp3" type="audio/mpeg">
</audio>

<img class="key-hold-img" data-wall-position="p5"  src="images/vprozor.gif" >

<img class="preload-img" src="images/zprozor-kompteleskop.gif" />
<img class="preload-img" src="images/zteleskop-sjediprozor.gif" />



<a href="z315" data-routable="true"  data-sound="m5b" class="m5"></a>



<a href="z255" data-routable="true" class="c"></a>

<style>
  
</style>
  <script>
       
         gifTime =vc26;
    
</script>