<img class="main-tpl-img" src="images/zvrata-teleskoppolica.gif"  data-lokacija="lok6" >

<embed  src="images/vrata-teleskop.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-teleskop-position="t6"   data-govno-position="g6"  src="images/vpolicateleskop.jpg" >



<img class="preload-img" src="images/zpolica-stolicateleskop.gif" />
<img class="preload-img" src="images/zpolica-bedteleskop.gif" />
<img class="preload-img" src="images/zteleskop-sjedipolica.gif" />

<a href="z246" data-routable="true" data-sound="m4b"  class="m4"></a>
<a href="z306" data-routable="true" data-sound="m0c"  class="m0"></a>


<a href="z230" data-routable="true" class="c"></a>

<style>
  
</style>
  <script>
       
         gifTime =vc26;
    
</script>