<img class="main-tpl-img" src="images/zsjedi-otprozorvrata.gif" data-lokacija="lok2" >

 <embed  src="images/sjedi-otprozor.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-teleskop-position="t2"   data-govno-position="g2prozor"  src="images/vvrataprozor.gif" >

<img class="preload-img" src="images/zvrata-stolprozor.gif" />
<img class="preload-img" src="images/zvrata-bedprozor.gif" />
<img class="preload-img" src="images/prozor-sjedivrata.gif" />
<img class="preload-img" src="images/zprozor-teleskopvrata.gif" />
<img class="preload-img" src="images/zatprozor-krevetvrata.gif" />

<a href="h11" data-routable="true" data-sound="m3"  class="m3"></a>
<a href="h12" data-routable="true" data-sound="m0d"  class="m0"></a>


<a href="h52" data-routable="true" class="c t"></a>
<a href="h60" data-routable="true" class="c c1 zat"></a>
<a href="h40" data-routable="true" class="c c2"></a>

<style>
  
</style>
  <script>
       
         gifTime =vc25;
    
</script>