<img class="main-tpl-img" src="images/zsjedi-otprozorkomp.gif">

<embed  src="images/sjedi-otprozor.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-postion="p5" src="images/vkomp.jpg" />



<img class="preload-img" src="images/z6.1prozor.gif" />
<img class="preload-img" src="images/zkomp-policaprozor.gif" />
<img class="preload-img" src="images/prozor-sjedikomp.gif" />
<img class="preload-img" src="images/zprozor-teleskopkomp.gif" />
<img class="preload-img" src="images/zatprozor-krevetkomp.gif" />


<a href="h19" data-routable="true" data-sound="m6"  class="m6"></a>
<a href="h20" data-routable="true"  data-sound="m0" class="m0"></a>


<a href="h55" data-routable="true" class="c t"></a>
<a href="h63" data-routable="true" class="c c1 zat"></a>
<a href="h43" data-routable="true" class="c c2"></a>

<style>
  
</style>
  <script>
       
         gifTime =vc25;
    
</script>