<img class="main-tpl-img" src="images/prozor-sjedistolica.gif" data-lokacija="lok4" >

<audio controls autoplay hidden>
    <source src="images/prozor-sjedi.mp3" type="audio/mpeg">
</audio>
<img class="key-hold-img"  data-wall-position="p4"  src="images/vstolicasjedi.gif" >


<img class="preload-img" src="images/zsjedi-otprozorstolica.gif" />
<img class="preload-img" src="images/zsjedi-kompstolica.gif" />
<img class="preload-img" src="images/zstolica-kompsjedi.gif" />
<img class="preload-img" src="images/zstolica-prozorsjedi.gif" />

<a href="z66" data-routable="true"  data-sound="m5" class="m5"></a>
<a href="z232" data-routable="true"  data-sound="m7" class="m7 skok"></a>


<a href="z73" data-routable="true" class="c"></a>
<a href="h35" data-routable="true" class="c c1 ot"></a>
<style>
  
</style>
  <script>
       
         gifTime =vc28;
    
</script>