<img class="main-tpl-img" src="images/zatprozor-krevet.gif">



<a href="z52" data-routable="true" class="m1"></a>



<a href="a9" data-routable="true" class="c"></a>
<a href="a53" data-routable="true" class="c c1"></a>
<style>
    .okvir{
    z-index: 1100;
}
      .teleskop{
    z-index: 1000;
}
</style>