<img class="main-tpl-img" src="images/zatprozor-krevet.gif">

<embed  src="images/zatprozor-krevet.mp3" loop="false" autostart="true" hidden="true" />

<img class="preload-img" src="images/krevet-sjedi.gif" />
<img class="preload-img" src="images/krevet-sjedix.gif" />

<img class="preload-img" src="images/zkrevet-kutlezi.gif" />

<a href="z52" data-routable="true"  data-sound="m1" class="m1"></a>



<a href="a9" data-routable="true" class="c"></a>
<a href="a53" data-routable="true" class="c c1"></a>
<style>

</style>

  <script>
       
         gifTime =vc22;
    
</script>