<img class="main-tpl-img" src="images/zprozor-teleskopkut.gif" data-lokacija="lok1" >

 <embed  src="images/prozor-teleskop.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-position="p1" src="images/vkutteleskop.jpg" >

<img class="preload-img" src="images/zteleskop-sjedikut.gif" />
<img class="preload-img" src="images/zkut-vratateleskop.gif" />

<img class="preload-img" src="images/zkut-prozorteleskop.gif" />


<a href="z359" data-routable="true"  data-sound="m7" class="m7 skok"></a>

<a href="z240" data-routable="true"  data-sound="m2" class="m2"></a>



<a href="z225" data-routable="true" class="c"></a>

<style>
  
</style>
  <script>
       
         gifTime =vc24;
    
</script>