<img class="main-tpl-img" src="images/zprozor-teleskopstol.gif" data-lokacija="lok3" >

 <embed  src="images/prozor-teleskop.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-position="p3" src="images/vstol.jpg" >


<img class="preload-img" src="images/zteleskop-sjedistol.gif" />
<img class="preload-img" src="images/zstol-kutpraviteleskop.gif" />
<img class="preload-img" src="images/zstol-stolicateleskop.gif" />

<a href="z242" data-routable="true"  data-sound="m4" class="m4"></a>
<a href="z247" data-routable="true"  data-sound="m1b" class="m1"></a>


<a href="z227" data-routable="true" class="c"></a>

<style>
  
</style>
  <script>
       
         gifTime =vc24;
    
</script>