<img class="main-tpl-img" src="images/zprozor-teleskopbed.gif">


 <embed  src="images/prozor-teleskop.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-teleskop-postion="t0a"   data-govno-postion="g0a"   src="images/vbedteleskop.jpg" >



<img class="preload-img" src="images/zteleskop-sjedibed.gif" />
<img class="preload-img" src="images/zbed-krevetteleskop.gif" />
<img class="preload-img" src="images/zbed-stolteleskop.gif" />

<a href="z297" data-routable="true"  data-sound="m3"class="m3"></a>
<a href="z288" data-routable="true"  data-sound="m0" class="m0"></a>


<a href="z326" data-routable="true" class="c"></a>

<style>
  
</style>
  <script>
       
         gifTime =vc24;
    
</script>