<img class="main-tpl-img" src="images/zatprozor-krevetstol.gif" data-lokacija="lok3" >

<embed  src="images/zatprozor-krevet.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-position="p3" src="images/vstolkrevet.jpg" >


<img class="preload-img" src="images/zkrevet-sjedistol.gif" />
<img class="preload-img" src="images/zkrevet-sjedixstol.gif" />
<img class="preload-img" src="images/zstol-stolicalezi.gif" />
<img class="preload-img" src="images/zstol-kutlezi.gif" />

<a href="z56" data-routable="true"  data-sound="m4" class="m4"></a>
<a href="z55" data-routable="true"  data-sound="m1b" class="m1"></a>


<a href="z78" data-routable="true" class="c"></a>
<a href="z164" data-routable="true" class="c c1"></a>
<style>
  
</style>
  <script>
       
         gifTime =vc22;
    
</script>