<img class="main-tpl-img" src="images/zgledasliku-prozorstol.gif" data-lokacija="lok3" >

 <embed  src="images/gledasliku-prozor.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-position="p3" src="images/vstol.jpg" />


<img class="preload-img" src="images/zstol-kutprozor.gif" />
<img class="preload-img" src="images/zstol-stolicaprozor.gif" />
<img class="preload-img" src="images/prozor-sjedistol.gif" />
<img class="preload-img" src="images/zprozor-teleskopstol.gif" />
<img class="preload-img" src="images/zatprozor-krevetstol.gif" />

<a href="h16" data-routable="true" data-sound="m4"  class="m4"></a>
<a href="h15" data-routable="true" data-sound="m1b"  class="m1"></a>


<a href="h53" data-routable="true" class="c t"></a>
<a href="h61" data-routable="true" class="c c1 zat"></a>
<a href="h41" data-routable="true" class="c c2"></a>
<style>
  
</style>
  <script>
       
         gifTime =vc23;
    
</script>