<img class="main-tpl-img" src="images/prozor-teleskop.gif">

 <embed  src="images/prozor-teleskop.mp3" loop="false" autostart="true" hidden="true" />

<img class="preload-img" src="images/teleskop-sjedi.gif" />
<img class="preload-img" src="images/zkrevet-kutteleskop.gif" />


<a href="z239" data-routable="true" class="m1"></a>


<a href="h9" data-routable="true" class="c"></a>

<style>
    .okvir{
    z-index: 1000;
}
</style>

  <script>
       
         gifTime =vc24;
    
</script>