

<img class="main-tpl-img" src="images/prvi.jpg">

  

<a href="dva" data-routable="true" class="m"></a>


<a href="jedan" data-routable="true" class="c"></a>

<style>
    
         .container .m{
       
         top: 66%;
         left: 59%;
        
    }
    
    .g{ 
        display: inline-block;
        float: left;
        z-index: 1;
        max-width: 110px;
            text-align: right;
        border-radius: 60%;
         height: 36%;
         top: 23%;
         left: 97%;
         
    }
    
</style>