

<img class="main-tpl-img" src="images/vrata-kalendar.gif">

<a href="cetiri" class="m"></a>

<a href="pet" data-routable="true" class="c"></a>



<style>
     .container .m{
        border-radius: 100%;
         height: 16%;
         top: 43%;
         left: 97%;
         width: 14%;
    }

    .container .m:after{
        background-color: ;
    }
</style>