<img src="images/vrata-stollik.gif">


<a href="x30" data-routable="true" class="m1"></a>
<a href="x28" data-routable="true" class="m"></a>

<a href="a79" data-routable="true" class="c"></a>

<style>
     .container .m1{
       
         top: 52%;
         left: 41%;
        
    }

     .container .m{
         
         top: 66%;
         left: 59%;
       
     }

    .container .m:after{
        background-color: blue;
    }
</style>