
<img class="main-tpl-img" src="images/stol-stolica.gif">

<a href="y12" data-routable="true" class="m"></a>



<a href="a105" data-routable="true" class="c"></a>

<style>
     .container .m1{
      
         top: 36%;
         left: 18%;
         
    }

     .container .m{
     
         top: 40%;
         left: 69%;
         
     }

    .container .m:after{
        background-color: ;
    }
</style>