
<img src="images/kut-vrata.gif">

<a href="y6" data-routable="true" class="m"></a>

<a href="a99" data-routable="true" class="c"></a>

<style>
     .container .m{
        
        top: 51%;
         left: 87%; 
       
        
    }

    .container .m1{
       
           top: 36%;
         left: 18%;
         
        
    }
    
    .container .m:after{
        background-color: ;
    }
</style>