<img class="main-tpl-img" src="images/zvrata-stol.gif">
<embed  src="images/vrata-stol.mp3" loop="false" autostart="true" hidden="true" />

<img class="preload-img" src="images/zkrevet-kutlik.gif" />
<img class="preload-img" src="images/zstol-krevetliksam.gif" />
<img class="preload-img" src="images/zkomp-van.gif" />
<img class="preload-img" src="images/zkomp-sint.gif" />




<a href="z37" data-routable="true" class="m1"></a>


<a href="z2" data-routable="true" class="c"></a>
<a href="z5" data-routable="true" class="c c1"></a>
<a href="z6" data-routable="true" class="c c2"></a>

<style>
  
    .container .m:after{
        background-color: ;
    }
</style>
<script>
    gifTime = vc1;
</script>
