<img src="images/vrata-pipasliku.gif">


<a href="z14" data-routable="true" class="c1">horizont</a>


<a href="z11" data-routable="true" class="c">vertikala</a>

<style>
     .container .c1{
        
         top: 3%;
         left: 71%;
         
    }

     .container .c{
         
         top: 36%;
         left: 18%;
         
     }

    .container .m:after{
        background-color: ;
    }
</style>