<img class="main-tpl-img" src="images/zstolica-kompsint.gif" data-lokacija="lok5" >

<img class="key-hold-img"   data-wall-position="p5"  src="images/vkompsint.jpg" >

<img class="preload-img" src="images/zsint-teleskopkomp.gif" />
<img class="preload-img" src="images/zsint-sjedikomp.gif" />
<img class="preload-img" src="images/zkomp-policasint.gif" />
<img class="preload-img" src="images/zkomp-krevetsint.gif" />

<a href="z94" data-routable="true" class="c"></a>
<a href="z223" data-routable="true" class="c c1 t"></a>
<a href="z101" data-routable="true" data-sound="m6"  class="m6"></a>
<a href="z103" data-routable="true" data-sound="m0"  data-svemir="on"  class="m0"></a>
<a  data-wiki="true" class="wikiread"></a>
<style>
  
</style>
<script>
 gifTime =vm6;
</script>