<img class="main-tpl-img" src="images/zsjedix-vanstol.gif">

<embed  src="images/sjedix-van.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-wall-postion="p3" src="images/vstol.jpg" >


<img class="preload-img" src="images/zvrata-teleskopstol.gif" />
<img class="preload-img" src="images/vrata-slikastol.gif" />

<img class="preload-img" src="images/zvrata-stolstol.gif" />
<img class="preload-img" src="images/vrata-pipaslikustol.gif" />
<img class="preload-img" src="images/stol-kut.gif" />
<img class="preload-img" src="images/stol-stolica.gif" />



<a href="h25" data-routable="true" class="c tunos"></a>
<a href="a101" data-routable="true" class="c c1 sunos"></a>
<a href="z114" data-routable="true" class="c c2"></a>
<a href="z123" data-routable="true" class="c c3 pipa"></a>
<a href="a8" data-routable="true"  data-sound="m4" class="m4"></a>
<a href="a10" data-routable="true"  data-sound="m1b" class="m1"></a>

<style>
  
</style>
<script>
 gifTime =vc11;
</script>