<img class="main-tpl-img" src="images/zsjedix-vanstolica.gif" data-lokacija="lok4" >

<embed  src="images/sjedix-van.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-wall-position="p4"  src="images/vstolica2.jpg" >

<img class="preload-img" src="images/zvrata-teleskopstolica.gif" />
<img class="preload-img" src="images/vrata-slikastolica.gif" />
<img class="preload-img" src="images/zvrata-stolstolica.gif" />
<img class="preload-img" src="images/vrata-pipaslikustolica.gif" />
<img class="preload-img" src="images/stolica-komp.gif" />
<img class="preload-img" src="images/stolica-prozor.gif" />


<a href="h27" data-routable="true" class="c tunos"></a>
<a href="a105" data-routable="true" class="c c1 sunos"></a>
<a href="z115" data-routable="true"  data-wiki-change="true" class="c c2"></a>
<a href="z119" data-routable="true" class="c c3 pipa"></a>


<a href="a12" data-routable="true"  data-sound="m5" class="m5"></a>
<a href="z273" data-routable="true"  data-sound="m7" class="m7 skok"></a>

<style>
  
</style>
<script>
 gifTime =vc11;
</script>