<img class="main-tpl-img" src="images/pipasliku-stolzat.gif">



<img class="preload-img" src="images/zkomp-van.gif" />
<img class="preload-img" src="images/zkomp-sint.gif" />
<img class="preload-img" src="images/zstol-krevetliksam.gif" />

<a href="z37" data-routable="true" class="m1"></a>


<a href="z6" data-routable="true" class="c">van</a>
<a href="z5" data-routable="true" class="c c1">sint</a>
<a href="z2" data-routable="true" class="c c2">krevet</a>
<style>

</style>
   <script>
    changeWallImage();
</script>