
<img class="main-tpl-img" src="images/zsjedix-vankomp.gif">
  
<embed  src="images/sjedix-van.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-wall-postion="p5" src="images/vkomp.jpg" >

<img class="preload-img" src="images/zvrata-teleskopkomp.gif" />
<img class="preload-img" src="images/vrata-slikakomp.gif" />
<img class="preload-img" src="images/zvrata-stolkomp.gif" />
<img class="preload-img" src="images/zvrata-pipaslikukomp.gif" />
<img class="preload-img" src="images/6.1.gif" />
<img class="preload-img" src="images/komp-polica.gif" />


<a href="h28" data-routable="true" class="c tunos"></a>
<a href="a107" data-routable="true" class="c c1 sunos"></a>
<a href="z116" data-routable="true" data-wiki-change="true"  class="c c2"></a>
<a href="z120" data-routable="true" class="c c3 pipa"></a>
<a  data-wiki="true" class="wikiread"></a>
<a href="a20" data-routable="true"  data-sound="m0"  data-svemir="on" class="m0"></a>
<a href="a14" data-routable="true"  data-sound="m6" class="m6"></a>

<style>
  
</style>
<script>
 gifTime =vc11;
</script>