<img class="main-tpl-img" src="images/vrata-pipaslikupolica.gif" data-lokacija="lok6" >

 <embed  src="images/vrata-pipasliku.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-position="p6"  data-teleskop-position="t6b" data-govno-position="g6b" src="images/vpolicapipaslikuot.jpg" >

<img class="preload-img" src="images/pipasliku-gledaslikuotpolica.gif" />
<img class="preload-img" src="images/pipasliku-stolpolica.gif" />
<img class="preload-img" src="images/zpolica-stolicapipaslikuot.gif" />
<img class="preload-img" src="images/zpolica-bedpipaslikuot.gif" />

<a href="z150" data-routable="true"  data-image-type="horizontal" class="c"></a>
<a href="z155" data-routable="true"    data-image-type="vertical" class="c c1"></a>
<a href="z130" data-routable="true" data-sound="m4b"  class="m4"></a>
<a href="z308" data-routable="true" data-sound="m0c"  class="m0"></a>

<style>
  
</style>
<script>
 gifTime =vc2;
</script>