<img class="main-tpl-img" src="images/vrata-pipaslikukut.gif" data-lokacija="lok1" >

 <embed  src="images/vrata-pipasliku.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-wall-position="p1"  data-teleskop-position="t1"  src="images/vkutpipaslikuot.gif" >



<img class="preload-img" src="images/pipasliku-gledaslikuotkut.gif" />
<img class="preload-img" src="images/pipasliku-stolkut.gif" />
<img class="preload-img" src="images/zkut-vratapipaslikuot.gif" />
<img class="preload-img" src="images/zkut-vratakal1.gif" />
<img class="preload-img" src="images/zkut-prozorpipaslikuot.gif" />


<a href="z356" data-routable="true"  data-sound="m7" class="m7 skok"></a>
<a href="z34" data-routable="true"  data-image-type="horizontal" class="c"></a>
<a href="z35" data-routable="true"  data-image-type="vertical" class="c c1"></a>
<a href="z32" data-routable="true" data-sound="m2"  class="m2"></a>


<style>
  
</style>
<script>
 gifTime =vc2;
</script>