<img class="main-tpl-img" src="images/zstolica-komppipaslikuot.gif" data-lokacija="lok5" >



<img class="key-hold-img"  data-wall-postion="p5"  src="images/vkomppipaslikuot.jpg" >

<img class="preload-img" src="images/pipasliku-gledaslikuotkomp.gif" />
<img class="preload-img" src="images/pipasliku-stolkomp.gif" />
<img class="preload-img" src="images/z6.1pipaslikuot.gif" />
<img class="preload-img" src="images/zkomp-policapipaslikuot.gif" />
<a  data-wiki="true" class="wikiread"></a>
<a href="z149" data-routable="true"  data-image-type="horizontal" class="c"></a>
<a href="z154" data-routable="true"  data-image-type="vertical" class="c c1"></a>
<a href="z128" data-routable="true" data-sound="m0" data-svemir="on"  class="m0"></a>
<a href="z129" data-routable="true" data-sound="m6" class="m6"></a>
<style>
  
</style>
<script>
 gifTime =vm6;
</script>