<img class="main-tpl-img" src="images/zstol-kutpravipipaslikuzat.gif"  data-lokacija="lok1" >

<img class="key-hold-img" data-wall-postion="p1"  data-teleskop-postion="t1" src="images/vkutpipaslikuzat.jpg" >

<img class="preload-img" src="images/pipasliku-gledaslikukut.gif" />
<img class="preload-img" src="images/pipasliku-stolzatkut.gif" />
<img class="preload-img" src="images/zkut-vratapipaslikuzat.gif" />

<img class="preload-img" src="images/zkut-prozorpipaslikuzat.gif" />


<a href="z355" data-routable="true"  data-sound="m7" class="m7 skok"></a>
<a href="z141" data-routable="true"  data-image-type="horizontal" class="c"></a>
<a href="z156" data-routable="true"  data-image-type="vertical" class="c c1"></a>

<a href="z133" data-routable="true"  data-sound="m2" class="m2"></a>

<style>
  
</style>
<script>
 gifTime =vm4;
</script>