<img src="images/pipasliku-gledaslikuot.gif">

<a href="z203" data-routable="true" class="m1"></a>

<a href="z174" data-routable="true" class="c c2">tele</a>

<a href="z16" data-routable="true" class="c">krevet</a>
<a href="z18" data-routable="true" class="c c1">stol</a>


<script>

    var lastClicked = localStorage.getItem('clicked-img');

    changeWallImage(lastClicked);
</script>