<img class="main-tpl-img" src="images/pipasliku-gledaslikuot.gif">

<img class="preload-img" src="images/zkrevet-kutgledasliku.gif" />
<img class="preload-img" src="images/zgledasliku-teleskop.gif" />
<img class="preload-img" src="images/zslika-krevet.gif" />
<img class="preload-img" src="images/zgledasliku-komp.gif" />


<a href="z203" data-routable="true" class="m1"></a>

<a href="z174" data-routable="true" class="c c2"></a>

<a href="z16" data-routable="true" class="c"></a>
<a href="z18" data-routable="true" class="c c1"></a>


<script>

    var lastClicked = localStorage.getItem('clicked-img');

    changeWallImage(lastClicked);
   gifTime =vc18;
</script>