<img class="main-tpl-img" src="images/pipasliku-gledaslikuvrata.gif">


 <embed  src="images/pipasliku-gledasliku.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img g2 t2" src="images/vvratagledasliku.jpg" >

<img class="preload-img" src="images/zgledasliku-kompvrata.gif" />
<img class="preload-img" src="images/zgledasliku-prozorvrata.gif" />
<img class="preload-img" src="images/slika-krevetvrata.gif" />
<img class="preload-img" src="images/zvrata-stolgledasliku.gif" />
<img class="preload-img" src="images/zvrata-bedgledasliku.gif" />



<a href="z185" data-routable="true" class="c"></a>
<a href="h67" data-routable="true" class="c c1"></a>
<a href="z198" data-routable="true" class="c c2"></a>

<a href="z205" data-routable="true" class="m3"></a>
<a href="z280" data-routable="true" class="m0"></a>
<style>
  
</style>
 <script>
        var lastClicked = localStorage.getItem('clicked-img');
    changeWallImage();
     
      gifTime =vc18;


</script>