<img class="main-tpl-img" src="images/pipasliku-gledaslikustolica.gif">


 <embed  src="images/pipasliku-gledasliku.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-postion="p4"  src="images/vstolicagledasliku.jpg" >

<img class="preload-img" src="images/zgledasliku-kompstolica.gif" />
<img class="preload-img" src="images/zgledasliku-prozorstolica.gif" />
<img class="preload-img" src="images/slika-krevetstolica.gif" />
<img class="preload-img" src="images/zstolica-kompgledasliku.gif" />
<img class="preload-img" src="images/zstolica-prozorgledasliku.gif" />

<a href="z187" data-routable="true" class="c"></a>
<a href="h47" data-routable="true" class="c c1"></a>
<a href="z200" data-routable="true" class="c c2"></a>

<a href="z208" data-routable="true" class="m5"></a>
<a href="z234" data-routable="true" class="m7 skok"></a>
<style>
  
</style>
 <script>
        var lastClicked = localStorage.getItem('clicked-img');
    changeWallImage();
      gifTime =vc18;
</script>