<img class="main-tpl-img" src="images/pipasliku-gledaslikukomp.gif">

<img class="preload-img" src="images/zgledasliku-kompkomp.gif" />
<img class="preload-img" src="images/zgledasliku-teleskopkomp.gif" />
<img class="preload-img" src="images/zslika-krevetkomp.gif" />
<img class="preload-img" src="images/zkomp-krevetgledasliku.gif" />
<img class="preload-img" src="images/zstol-stolicagledasliku.gif" />

<a href="z189" data-routable="true" class="c"></a>
<a href="z195" data-routable="true" class="c c1"></a>
<a href="z201" data-routable="true" class="c c2"></a>

<a href="z209" data-routable="true" class="m"></a>
<a href="z211" data-routable="true" class="m1"></a>
<style>
  
</style>
 <script>
        var lastClicked = localStorage.getItem('clicked-img');
    changeWallImage();
      gifTime =vc18;
</script>