<img class="main-tpl-img" src="images/pipasliku-gledaslikupolica.gif">

 <embed  src="images/pipasliku-gledasliku.mp3" loop="false" autostart="true" hidden="true" />


<img class="key-hold-img" data-wall-postion="p6" src="images/vpolicagledasliku.jpg" >

<img class="preload-img" src="images/zgledasliku-komppolica.gif" />
<img class="preload-img" src="images/zgledasliku-prozorpolica.gif" />
<img class="preload-img" src="images/slika-krevetpolica.gif" />
<img class="preload-img" src="images/zpolica-stolicagledasliku.gif" />

<img class="preload-img" src="images/zpolica-bedgledasliku.gif" />

<a href="z190" data-routable="true" class="c"></a>
<a href="h49" data-routable="true" class="c c1"></a>
<a href="z202" data-routable="true" class="c c2"></a>

<a href="z210" data-routable="true" data-sound="m4b"  class="m4"></a>
<a href="z307" data-routable="true" data-sound="m0c"  class="m0"></a>
<style>
  
</style>
 <script>
        var lastClicked = localStorage.getItem('clicked-img');
    changeWallImage();
      gifTime =vc18;
</script>