<img class="main-tpl-img" src="images/pipasliku-gledaslikuotstol.gif">

 <embed  src="images/pipasliku-gledasliku.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-postion="p3" src="images/vstolgledasliku.jpg" />

<img class="preload-img" src="images/zgledasliku-kompstol.gif" />
<img class="preload-img" src="images/zgledasliku-prozorstol.gif" />
<img class="preload-img" src="images/slika-krevetstol.gif" />
<img class="preload-img" src="images/zstol-kutpravigledasliku.gif" />
<img class="preload-img" src="images/zstol-stolicagledasliku.gif" />

<a href="z186" data-routable="true" class="c"></a>
<a href="h68" data-routable="true" class="c c1"></a>
<a href="z199" data-routable="true" class="c c2"></a>
<a href="z206" data-routable="true" class="m1"></a>
<a href="z207" data-routable="true" class="m4"></a>

<style>
  
</style>
 <script>
        var lastClicked = localStorage.getItem('clicked-img');
    changeWallImage();
      gifTime =vc18;
</script>