<img src="images/zzstol-krevet.gif">





<a href="z11" data-routable="true" class="c"></a>

<style>
     .container .m1{
        
         top: 3%;
         left: 71%;
         
    }

     .container .m{
         
         top: 36%;
         left: 18%;
         
     }

    .container .m:after{
        background-color: ;
    }
</style>