<img src="images/pipasliku-stolstol.gif">

<a href="z89" data-routable="true" class="c"></a>
<a href="z48" data-routable="true" class="c c1"></a>
<a href="z40" data-routable="true" class="m4"></a>
<a href="z41" data-routable="true" class="m1"></a>

<style>
  
</style>
 <script>
    changeWallImage();
</script>