<img class="main-tpl-img" src="images/pipasliku-stolstol.gif">

 <embed  src="images/pipasliku-stol.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-wall-postion="p3"  src="images/vstollik.jpg" >

<img class="preload-img" src="images/zkomp-sintstol.gif" />
<img class="preload-img" src="images/zstol-krevetstol.gif" />
<img class="preload-img" src="images/zstol-stolicalik.gif" />
<img class="preload-img" src="images/zstol-kutlik.gif" />


<a href="z89" data-routable="true" class="c"></a>
<a href="z48" data-routable="true" class="c c1"></a>
<a href="z40" data-routable="true" class="m4"></a>
<a href="z41" data-routable="true" class="m1"></a>

<style>
  
</style>
 <script>
        var lastClicked = localStorage.getItem('clicked-img');
    changeWallImage();
      gifTime =vc17;
</script>