<img class="main-tpl-img" src="images/pipasliku-stolkomp.gif" data-lokacija="lok5" >

 <embed  src="images/pipasliku-stol.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-position="p5" src="images/vkomplik.jpg" >

 <img class="preload-img" src="images/zkomp-sintkomp.gif" />
<img class="preload-img" src="images/zstol-krevetkomp.gif" />
<img class="preload-img" src="images/zkomp-krevetkomp.gif" />
<img class="preload-img" src="images/zkomp-policalik.gif" />

<a href="z84" data-routable="true"  data-sint="on" class="c"></a>
<a href="z50" data-routable="true" class="c c1"></a>
<a href="z45" data-routable="true"  data-sound="m0" data-svemir="on"  class="m0"></a>
<a href="z43" data-routable="true"  data-sound="m6" class="m6"></a>
<a  data-wiki="true" class="wikiread"></a>
<style>
  
</style>
 <script>
        var lastClicked = localStorage.getItem('clicked-img');
    changeWallImage();
      gifTime =vc17;
</script>