<img src="images/pipasliku-stolkomp.gif">

<a href="z84" data-routable="true" class="c"></a>
<a href="z50" data-routable="true" class="c c1"></a>
<a href="z45" data-routable="true" class="m0"></a>
<a href="z43" data-routable="true" class="m6"></a>

<style>
  
</style>
 <script>
    changeWallImage();
</script>