<img class="main-tpl-img" src="images/pipasliku-stolzatstolica.gif">

 <embed  src="images/pipasliku-stol.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" src="images/vstolicalik.jpg" >

<img class="preload-img" src="images/zkomp-sintstolica.gif" />
<img class="preload-img" src="images/zstol-krevetstolica.gif" />
<img class="preload-img" src="images/zstolica-komplik.gif" />
<img class="preload-img" src="images/zstolica-prozorkomp.gif" />

<a href="z49" data-routable="true" class="c"></a>
<a href="z88" data-routable="true" class="c c1"></a>
<a href="z42" data-routable="true" class="m5"></a>
<a href="z231" data-routable="true" class="m7"></a>

<style>
  
</style>
 <script>
        var lastClicked = localStorage.getItem('clicked-img');
    changeWallImage();
      gifTime =vc17;
</script>