<img class="main-tpl-img" src="images/gledasliku-krevet.gif">

 <embed  src="images/gledasliku-krevet.mp3" loop="false" autostart="true" hidden="true" />

<img class="preload-img" src="images/zkrevet-kutlezi.gif" />
<img class="preload-img" src="images/zkrevet-sjedi.gif" />
<img class="preload-img" src="images/zprilec-van.gif" />

<a href="z52" data-routable="true"   data-svemir="off"  data-sound="m1" class="m1"></a>


<a href="a53" data-routable="true" class="c"></a>
<a href="a9" data-routable="true" class="c c1"></a>

<style>

</style>
<script>
 gifTime =vc12;
</script>
