<img class="main-tpl-img" src="images/zkrevet-sjedixvrata.gif">

<embed  src="images/krevet-sjedix.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-teleskop-postion="t2"   data-govno-postion="g2" src="images/vvratasjedix.jpg" >

<img class="preload-img" src="images/zsjedix-pipaslikuvrata.gif" />
<img class="preload-img" src="images/zvrata-stolsjedix.gif" />
<img class="preload-img" src="images/zvrata-bedsjedix.gif" />
<img class="preload-img" src="images/zsjedix-vanvrata.gif" />


<a href="z107" data-routable="true" class="c c1"></a>
<a href="z169" data-routable="true" class="c pipa"></a>

<a href="z177" data-routable="true"  data-sound="m3" class="m3"></a>
<a href="z277" data-routable="true" data-sound="m0d"  class="m0"></a>

<style>
  
</style>
 <script>
  
      gifTime =vc10;
</script>