<img class="main-tpl-img" src="images/zkrevet-sjedixstol.gif">

<embed  src="images/krevet-sjedix.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-postion="p3" src="images/vstolsjedix.jpg" />

<img class="preload-img" src="images/zsjedix-pipaslikustol.gif" />
<img class="preload-img" src="images/zsjedix-vanstol.gif" />
<img class="preload-img" src="images/zstol-kutsjedix.gif" />
<img class="preload-img" src="images/zstol-stolicasjedix.gif" />

<a href="z108" data-routable="true" class="c c1"></a>
<a href="z170" data-routable="true" class="c pipa"></a>

<a href="z178" data-routable="true"  data-sound="m1b" class="m1"></a>
<a href="z179" data-routable="true"  data-sound="m4" class="m4"></a>

<style>
  
</style>
 <script>
  
      gifTime =vc10;
</script>