<img class="main-tpl-img" src="images/zkrevet-sjedixkomp.gif">

<embed  src="images/krevet-sjedix.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-wall-postion="p5" src="images/vkompsjedix.jpg" >


<img class="preload-img" src="images/zsjedix-pipaslikukomp.gif" />
<img class="preload-img" src="images/z6.1sjedix.gif" />
<img class="preload-img" src="images/zkomp-policasjedix.gif" />
<img class="preload-img" src="images/zsjedix-vankomp.gif" />

<a href="z172" data-routable="true" class="c pipa"></a>
<a href="z110" data-routable="true" class="c c1"></a>

<a href="z181" data-routable="true"  data-sound="m0" class="m0"></a>
<a href="z182" data-routable="true" data-sound="m6"  class="m6"></a>

<style>
  
</style>
 <script>
  
      gifTime =vc10;
</script>