<img src="images/zgledasliku-komp.gif">





<a href="z2" data-routable="true" class="c">krevet</a>
<a href="z5" data-routable="true" class="c1">sint</a>
<a href="z6" data-routable="true" class="c2">van</a>
<style>
     .container .c1{
        
         top: 3%;
         left: 71%;
         
    }

     .container .c{
         
         top: 36%;
         left: 18%;
         
     }

    .container .c2{
        
         top: 35%;
         left: 51%;
         
    }
    
    .container .m:after{
        background-color: ;
    }
</style>