<img class="main-tpl-img" src="images/zkomp-policasjedix.gif" data-lokacija="lok6" >

<img class="key-hold-img"  data-wall-position="p6"  data-teleskop-position="t6b" data-govno-position="g6b"  src="images/vpolicasjedix.jpg" >

<img class="preload-img" src="images/zsjedix-vanpolica.gif" />
<img class="preload-img" src="images/zsjedix-pipaslikupolica.gif" />
<img class="preload-img" src="images/zpolica-stolicasjedix.gif" />
<img class="preload-img" src="images/zpolica-bedsjedix.gif" />


<a href="z173" data-routable="true" class="c pipa"></a>
<a href="z111" data-routable="true" class="c c1"></a>

<a href="z183" data-routable="true"  data-sound="m4b" class="m4"></a>
<a href="z304" data-routable="true" data-sound="m0c"  class="m0"></a>



<style>
  
</style>
<script>
  
      gifTime =vm8;
</script>