<img class="main-tpl-img" src="images/zpolica-stolicasjedix.gif" data-lokacija="lok4" >

<img class="key-hold-img" data-wall-position="p4" src="images/vstolicasjedix.jpg" >

<img class="preload-img" src="images/zsjedix-vanstolica.gif" />
<img class="preload-img" src="images/zsjedix-pipaslikustolica.gif" />
<img class="preload-img" src="images/zstolica-kompsjedix.gif" />
<img class="preload-img" src="images/zstolica-prozorsjedix.gif" />

<a href="z171" data-routable="true" class="c pipa"></a>
<a href="z109" data-routable="true" class="c c1"></a>

<a href="z180" data-routable="true"  data-sound="m5" class="m5"></a>
<a href="z233" data-routable="true"  data-sound="m7" class="m7 skok"></a>


<style>
  
</style>
<script>
  
      gifTime =vm10;
</script>