<img class="main-tpl-img" src="images/zgledasliku-kompkomp.gif">


<embed  src="images/gledasliku-komp.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-postion="p5" src="images/vkomplik.jpg" >

<img class="preload-img" src="images/zstol-krevetkomp.gif" />
<img class="preload-img" src="images/zkomp-vankomp.gif" />
<img class="preload-img" src="images/zkomp-sintkomp.gif" />
<img class="preload-img" src="images/zkomp-policalik.gif" />
<img class="preload-img" src="images/zkomp-krevetkomp.gif" />

<a href="z50" data-routable="true" class="c"></a>
<a href="z216" data-routable="true" class="c c1"></a>
<a href="z84" data-routable="true" class="c c2 sint"></a>
<a  data-wiki="true" class="wikiread"></a>
<a href="z43" data-routable="true"  data-sound="m6" class="m6"></a>
<a href="z45" data-routable="true"  data-sound="m0"  data-svemir="on" class="m0"></a>


<style>
  
</style>
<script>
  
      gifTime =vc13;
</script>