<img class="main-tpl-img" src="images/zgledasliku-komppolica.gif" data-lokacija="lok6" >


<embed  src="images/gledasliku-komp.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-wall-position="p6" src="images/vpolica2.jpg" >

<img class="preload-img" src="images/zstol-krevetpolica.gif" />
<img class="preload-img" src="images/zkomp-vanpolica.gif" />
<img class="preload-img" src="images/zkomp-sintpolica.gif" />
<img class="preload-img" src="images/zpolica-stolicalik.gif" />
<img class="preload-img" src="images/zpolica-bedlik.gif" />

<a href="z217" data-routable="true" class="c c1"></a>
<a href="z51" data-routable="true" class="c"></a>

<a href="z85" data-routable="true"  data-sint="on" class="c c2 sint"></a>

<a href="z44" data-routable="true"  data-sound="m4b" class="m4"></a>
<a href="z301" data-routable="true" data-sound="m0c"  class="m0"></a>



<style>
  
</style>
<script>
  
      gifTime =vc13;
</script>