<img src="images/zstol-krevetliksam.gif">





<a href="z3" data-routable="true" class="c">sjedi</a>
<a href="z9" data-routable="true" class="c1">van</a>
<a href="z12" data-routable="true" class="c2">sjedix</a>
<style>
     .container .c1{
        
         top: 3%;
         left: 71%;
         
    }

     .container .c2{
         
         top: 36%;
         left: 18%;
         
     }

    .container .m:after{
        background-color: ;
    }
</style>