<img src="images/zstol-krevetliksam.gif">


<a href="z52" data-routable="true" class="m1"></a>


<a href="z3" data-routable="true" class="c">sjedi</a>
<a href="z9" data-routable="true" class="c c1">van</a>
<a href="z12" data-routable="true" class="c c2">sjedix</a>
<style>


    .container .m:after{
        background-color: ;
    }
</style>