<img src="images/pipasliku-gledasliku.gif">

<a href="z203" data-routable="true" class="m1"></a>

<a href="z174" data-routable="true" class="c c1">teleskop</a>

<a href="z16" data-routable="true" class="c">krevet</a>

<a href="z18" data-routable="true" class="c c2">stol</a>
<style>

   <script>
    changeWallImage();
</script>