<img class="main-tpl-img" src="images/slika-krevetkomp.gif">

 <embed  src="images/gledasliku-krevet.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-position="p5"  src="images/vkomplezi.jpg" >

<img class="preload-img" src="images/zkrevet-sjedixkomp.gif" />
<img class="preload-img" src="images/zkrevet-sjedikomp.gif" />
<img class="preload-img" src="images/zkomp-policalezi.gif" />
<img class="preload-img" src="images/zkomp-krevetlezi.gif" />

<a href="z81" data-routable="true" class="c"></a>
<a href="z166" data-routable="true" class="c c1"></a>
<a  data-wiki="true" class="wikiread"></a>
<a href="z58" data-routable="true"  data-sound="m6" class="m6"></a>
<a href="z60" data-routable="true"  data-sound="m0"  data-svemir="on" class="m0"></a>


<style>
  
</style>
<script>
  
      gifTime =vc12;
</script>