<img class="main-tpl-img" src="images/zstol-stolicagledasliku.gif" data-lokacija="lok4" >



<img class="key-hold-img"   data-wall-position="p4"  src="images/vstolicagledasliku.jpg" >

<img class="preload-img" src="images/zgledasliku-kompstolica.gif" />
<img class="preload-img" src="images/zgledasliku-prozorstolica.gif" />
<img class="preload-img" src="images/zslika-krevetstolica.gif" />
<img class="preload-img" src="images/zstolica-kompgledasliku.gif" />
<img class="preload-img" src="images/zstolica-prozorgledasliku.gif" />


<a href="z187" data-routable="true" class="c"></a>
<a href="h47" data-routable="true" class="c c1"></a>
<a href="z200" data-routable="true" class="c c2"></a>

<a href="z208" data-routable="true"  data-sound="m5" class="m5"></a>
<a href="z234" data-routable="true"  data-sound="m7" class="m7 skok"></a>


<style>
  
.govno
      {
      
        z-index: 10000000000 ;
    }
    
    
</style>
<script>
  
      gifTime =vm5;
</script>