<img class="main-tpl-img" src="images/zstolica-kompgledasliku.gif">

<img class="key-hold-img" data-wall-postion="p5" src="images/vkompgledasliku.jpg" >

<img class="preload-img" src="images/zgledasliku-kompkomp.gif" />
<img class="preload-img" src="images/zgledasliku-prozorkomp.gif" />
<img class="preload-img" src="images/zslika-krevetkomp.gif" />
<img class="preload-img" src="images/zkomp-policagledasliku.gif" />
<img class="preload-img" src="images/zkomp-prozorgledasliku.gif" />

<a href="z189" data-routable="true" class="c"></a>
<a href="h48" data-routable="true" class="c c1"></a>
<a href="z201" data-routable="true" class="c c2"></a>

<a href="z209" data-routable="true"  data-sound="m6" class="m6"></a>
<a href="z211" data-routable="true"  data-sound="m0" class="m0"></a>


<style>
  
</style>
<script>
  
      gifTime =vm6;
</script>