<img src="images/pipasliku-stol.gif">


<a href="z37" data-routable="true" class="m1"></a>


<a href="z6" data-routable="true" class="c">van</a>
<a href="z5" data-routable="true" class="c1">sint</a>
<a href="z2" data-routable="true" class="c2">krevet</a>
<style>
     
   <script>
    changeWallImage();
</script>