<img class="main-tpl-img" src="images/zkomp-vanstol.gif">

<a href="z123" data-routable="true" class="c"></a>
<a href="z114" data-routable="true" class="c c1"></a>

<a href="z25" data-routable="true" class="m1"></a>
<a href="z26" data-routable="true" class="m4"></a>

<style>
  
</style>