<img class="main-tpl-img" src="images/zkomp-vanpolica.gif">

 <embed  src="images/komp-van.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-postion="p6" src="images/vpolica2.jpg" >


<img class="preload-img" src="images/vrata-slikastolica.gif" />
<img class="preload-img" src="images/zvrata-stolpolica.gif" />
<img class="preload-img" src="images/zvrata-teleskoppolica.gif" />
<img class="preload-img" src="images/vrata-pipaslikupolica.gif" />
<img class="preload-img" src="images/polica-stolica.gif" />
<img class="preload-img" src="images/polica-bed.gif" />

<a href="z118" data-routable="true" class="c pipa"></a>
<a href="z117" data-routable="true" class="c c1"></a>
<a href="h30" data-routable="true" class="c c2 tunos"></a>
<a href="a109" data-routable="true" class="c c3 sunos"></a>

<a href="a149" data-routable="true" class="m0"></a>
<a href="a16" data-routable="true" class="m4"></a>

<style>
  
</style>
<script>
  
      gifTime =vc3;
</script>