<img class="main-tpl-img" src="images/zsint-teleskopvrata.gif">

 <embed  src="images/sint-teleskop.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-teleskop-postion="t2"   data-govno-postion="g2" src="images/vvratateleskop.jpg" >

<img class="preload-img" src="images/zteleskop-sjedivrata.gif" />
<img class="preload-img" src="images/zvrata-stolteleskop.gif" />
<img class="preload-img" src="images/zvrata-bedteleskop.gif" />


<a href="z226" data-routable="true" class="c"></a>


<a href="z241" data-routable="true"  data-sound="m3" class="m3"></a>
<a href="z279" data-routable="true"  data-sound="m0d" class="m0"></a>

<style>
  
</style>
<script>
  
      gifTime =vc7;
</script>