<img class="main-tpl-img" src="images/zsint-teleskoppolica.gif">

 <embed  src="images/sint-teleskop.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"   src="images/vpolicateleskop.jpg" >

<img class="preload-img" src="images/zteleskop-sjedipolica.gif" />
<img class="preload-img" src="images/zpolica-stolicateleskop.gif" />
<img class="preload-img" src="images/zpolica-bedteleskop.gif" />

<a href="z230" data-routable="true" class="c"></a>


<a href="z246" data-routable="true" data-sound="m4b"  class="m4"></a>
<a href="z306" data-routable="true" data-sound="m0c"  class="m0"></a>

<style>
  
</style>
<script>
  
      gifTime =vc7;
</script>