<img class="main-tpl-img" src="images/zteleskop-sjedikut.gif" data-lokacija="lok1" >

 <embed  src="images/sint-teleskop.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-wall-position="p1"  data-teleskop-position="t1" src="images/vkutsjedi.gif" >

<img class="preload-img" src="images/zsjedi-otprozorkut.gif" />
<img class="preload-img" src="images/zsjedi-kompkut.gif" />
<img class="preload-img" src="images/zkut-vratasjedi.gif" />
<img class="preload-img" src="images/zkut-prozorsjedi.gif" />


<a href="z351" data-routable="true"  data-sound="m7" class="m7 skok"></a>
<a href="z70" data-routable="true"  data-wiki-change="true" class="c"></a>
<a href="h32" data-routable="true" class="c c1 ot"></a>

<a href="z62" data-routable="true" data-sound="m2"  class="m2"></a>


<style>
  
</style>
<script>
  
      gifTime =vc14;
</script>