<img class="main-tpl-img" src="images/zstol-krevetprozor.gif" data-lokacija="lok7" >

 <embed  src="images/komp-krevet.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" src="images/vprozor.gif" >

<img class="preload-img" src="images/zkrevet-sjediprozor.gif" />
<img class="preload-img" src="images/zkrevet-sjedixprozor.gif" />

<img class="preload-img" src="images/zprozor-komplezi.gif" />



<a href="z250" data-routable="true" class="c"></a>
<a href="z251" data-routable="true" class="c c1"></a>

<a href="z311" data-routable="true"  data-sound="m5b" class="m5"></a>


<style>
  
</style>
<script>
  
      gifTime =vc4;
</script>