<img class="main-tpl-img" src="images/zbed-stolteleskop.gif" data-lokacija="lok3" >

<img class="key-hold-img" data-wall-position="p3" src="images/vstol.jpg" >

<img class="preload-img" src="images/zteleskop-sjedistol.gif" />
<img class="preload-img" src="images/zstol-stolicateleskop.gif" />
<img class="preload-img" src="images/zstol-kutpraviteleskop.gif" />

<a href="z227" data-routable="true" class="c"></a>



<a href="z247" data-routable="true" data-sound="m1b"  class="m1"></a>
<a href="z242" data-routable="true"  data-sound="m4" class="m4"></a>

<style>
  
</style>
<script>
  
      gifTime =vm13;
</script>