<img src="images/zkrevet-sjedi.gif">





<a href="z4" data-routable="true" class="c">komp</a>
<a href="z8" data-routable="true" class="c1">sint</a>
<style>
     .container .c1{
        
         top: 35%;
         left: 71%;
         
    }

     .container .m{
         
         top: 36%;
         left: 18%;
         
     }

    .container .m:after{
        background-color: ;
    }
</style>