<img class="main-tpl-img" src="images/zprozor-kompgledasliku.gif" data-lokacija="lok5" >

<img class="key-hold-img" data-wall-position="p5" src="images/vkompgledasliku.gif" >

<img class="preload-img" src="images/zgledasliku-teleskopkomp.gif" />
<img class="preload-img" src="images/slika-krevetkomp.gif" />
<img class="preload-img" src="images/zgledasliku-kompkomp.gif" />
<img class="preload-img" src="images/z6.1gledasliku.gif" />
<img class="preload-img" src="images/zkomp-policagledasliku.gif" />



<a href="h48" data-routable="true" class="c"></a>
<a href="z201" data-routable="true" class="c c1"></a>
<a href="z189" data-routable="true" class="c c2"></a>
<a  data-wiki="true" class="wikiread"></a>
<a href="z211" data-routable="true"  data-sound="m0" data-svemir="on"  class="m0"></a>
<a href="z209" data-routable="true"  data-sound="m6" class="m6"></a>

<style>
  
</style>
<script>
  
      gifTime =vm15;
</script>