<img class="main-tpl-img" src="images/zvrata-kompbed.gif">

 <embed  src="images/vrata-komp.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-teleskop-postion="t0a"   data-govno-postion="g0a"  src="images/vbedlik.jpg" >

<img class="preload-img" src="images/zkomp-vanbed.gif" />
<img class="preload-img" src="images/zstol-krevetbed.gif" />
<img class="preload-img" src="images/zkomp-sintbed.gif" />
<img class="preload-img" src="images/zbed-krevetlik.gif" />
<img class="preload-img" src="images/zbed-stollik.gif" />

<a href="z320" data-routable="true" class="c"></a>
<a href="z323" data-routable="true" class="c c1 sint"></a>
<a href="z336" data-routable="true" class="c c2"></a>

<a href="z283" data-routable="true"  data-sound="m0b"  data-svemir="on" class="m0"></a>
<a href="z292" data-routable="true"  data-sound="m3b" class="m3"></a>

<style>
  
</style>
<script>
  
      gifTime =vm15;
</script>