<img class="main-tpl-img" src="images/zsint-teleskopbed.gif" data-lokacija="lok0b" >

 <embed  src="images/sint-teleskop.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-teleskop-position="t0b"   data-govno-position="g0b"  src="images/vbedteleskop.gif" >

<img class="preload-img" src="images/zbed-stolteleskop.gif" />
<img class="preload-img" src="images/zbed-krevetteleskop.gif" />
<img class="preload-img" src="images/zteleskop-sjedibed.gif" />


<a href="z326" data-routable="true" class="c"></a>



<a href="z288" data-routable="true"  data-sound="m0b" data-svemir="on"  class="m0"></a>
<a href="z297" data-routable="true"  data-sound="m3b" class="m3"></a>

<style>
  
</style>
<script>
  
      gifTime =vc7;
</script>