<img class="main-tpl-img" src="images/pipasliku-stolzatbed.gif">


 <embed  src="images/pipasliku-stol.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img t0a g0a" src="images/vbedlik.jpg" >

<img class="preload-img" src="images/zstol-krevetbed.gif" />
<img class="preload-img" src="images/zkomp-sintbedbed.gif" />
<img class="preload-img" src="images/zkomp-vanbed.gif" />
<img class="preload-img" src="images/zbed-krevetlik.gif" />
<img class="preload-img" src="images/zbed-stollik.gif" />

<a href="z320" data-routable="true" class="c"></a>
<a href="z323" data-routable="true" class="c c1"></a>
<a href="z336" data-routable="true" class="c c2"></a>

<a href="z283" data-routable="true" class="m0"></a>
<a href="z292" data-routable="true" class="m3"></a>

<style>
  
</style>
<script>
       var lastClicked = localStorage.getItem('clicked-img');
    changeWallImage();
      gifTime =vc15;
</script>