<img class="main-tpl-img" src="images/vrata-pipaslikubed.gif" data-lokacija="lok0" >

 <embed  src="images/vrata-pipasliku.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-teleskop-position="t0a"   data-govno-position="g0a"  src="images/vbedpipaslikuzat.jpg" >

<img class="preload-img" src="images/pipasliku-stolbed.gif" />
<img class="preload-img" src="images/pipasliku-gledaslikuotbed.gif" />
<img class="preload-img" src="images/zbed-krevetpipaslikuot.gif" />
<img class="preload-img" src="images/zbed-stolpipaslikuot.gif" />


<a href="z328" data-routable="true" data-image-type="vertical" class="c"></a>
<a href="z330" data-routable="true" data-image-type="horizontal" class="c c1"></a>


<a href="z290" data-routable="true"  data-sound="m0b"  data-svemir="on" class="m0"></a>
<a href="z299" data-routable="true"  data-sound="m3b" class="m3"></a>

<style>
  
</style>
<script>
  
      gifTime = vc2;
</script>