<img class="main-tpl-img" src="images/zkomp-vanbed.gif">

 <embed  src="images/komp-van.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-teleskop-position="t0a"   data-govno-position="g0a"  src="images/vbed.jpg" >

<img class="preload-img" src="images/zvrata-kompbed.gif" />
<img class="preload-img" src="images/vrata-pipaslikubed.gif" />
<img class="preload-img" src="images/zvrata-teleskopbed.gif" />
<img class="preload-img" src="images/bed-krevet.gif" />
<img class="preload-img" src="images/bed-stol.gif" />


<a href="z319" data-routable="true" class="c"></a>
<a href="z335" data-routable="true" class="c c1 pipa"></a>
<a href="h26" data-routable="true" class="c c2 tunos"></a>

<a href="a150" data-routable="true"  data-sound="m0b" data-svemir="on"  class="m0"></a>
<a href="a152" data-routable="true" data-sound="m3b"  class="m3"></a>

<style>
  
</style>
<script>
  
      gifTime =vc3;
</script>