<img class="main-tpl-img" src="images/zkomp-vanbed.gif">

<img class="key-hold-img" src="images/vbed.jpg" >

<img class="preload-img" src="images/zvrata-kompbed.gif" />
<img class="preload-img" src="images/vrata-pipaslikubed.gif" />
<img class="preload-img" src="images/zvrata-teleskopbed.gif" />
<img class="preload-img" src="images/zbed-krevet.gif" />
<img class="preload-img" src="images/zbed-stol.gif" />


<a href="z319" data-routable="true" class="c"></a>
<a href="z335" data-routable="true" class="c c1 pipa"></a>
<a href="h26" data-routable="true" class="c c2 tunos"></a>

<a href="a150" data-routable="true" class="m0"></a>
<a href="a152" data-routable="true" class="m3"></a>

<style>
  
</style>
<script>
  
      gifTime =vc3;
</script>