<img class="main-tpl-img" src="images/zsint-sjedibed.gif" data-lokacija="lok0b" >

 <embed  src="images/sint-sjedi.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-teleskop-position="t0a"   data-govno-position="g0a"  src="images/vbedsjedi.gif" >

<img class="preload-img" src="images/zsjedi-kompbed.gif" />
<img class="preload-img" src="images/zsjedi-otprozorbed.gif" />
<img class="preload-img" src="images/zbed-krevetsjedi.gif" />
<img class="preload-img" src="images/zbed-stolsjedi.gif" />

<a href="z324" data-routable="true" class="c"></a>
<a href="h37" data-routable="true" class="c c1 ot"></a>


<a href="z285" data-routable="true"  data-sound="m0b"  data-svemir="on" class="m0"></a>
<a href="z294" data-routable="true"  data-sound="m3b" class="m3"></a>

<style>
  
</style>
<script>
  
      gifTime =vc6;
</script>