<img class="main-tpl-img" src="images/zkrevet-bedsint.gif">



<img class="key-hold-img"  data-teleskop-postion="t0b"   data-govno-postion="g0b"  src="images/vbedsint.jpg" >

<img class="preload-img" src="images/zsint-sjedibed.gif" />
<img class="preload-img" src="images/zsint-teleskopbed.gif" />
<img class="preload-img" src="images/zbed-stolsint.gif" />
<img class="preload-img" src="images/zbed-krevetsint.gif" />


<a href="z325" data-routable="true" class="c t"></a>
<a href="z337" data-routable="true" class="c c1"></a>



<a href="z287" data-routable="true"  data-sound="m0b"  data-svemir="on" class="m0"></a>
<a href="z296" data-routable="true"  data-sound="m3b" class="m3"></a>

<style>
  
</style>
<script>
  
      gifTime =vc6;
</script>