<img src="images/pipasliku-stolkut.gif">



<a href="z38" data-routable="true" class="m2"></a>

<a href="z46" data-routable="true" class="c">krevet</a>
<a href="z86" data-routable="true" class="c1">sint</a>

<style>
   
   <script>
    changeWallImage();
</script>