<img class="main-tpl-img" src="images/pipasliku-stolkut.gif">

<img class="key-hold-img" data-wall-postion="p1" src="images/vkutlik.jpg" >

<img class="preload-img" src="images/zkut-vratalik.gif" />
<img class="preload-img" src="images/zstol-krevetkut.gif" />
<img class="preload-img" src="images/zkomp-sintkut.gif" />

<a href="z38" data-routable="true" class="m2"></a>

<a href="z46" data-routable="true" class="c">krevet</a>
<a href="z86" data-routable="true" class="c c1">sint</a>


   
   <script>
  gifTime =vc17;
       var lastClicked = localStorage.getItem('clicked-img');
    changeWallImage();
</script>