<img class="main-tpl-img" src="images/zkut-prozorsjedix.gif" data-lokacija="lok7" >



<img class="key-hold-img"   src="images/vprozor.gif" >
<img class="preload-img" src="images/zsjedix-vanprozor.gif" />
<img class="preload-img" src="images/zsjedix-pipaslikuprozor.gif" />
<img class="preload-img" src="images/zprozor-kompsjedix.gif" />

<img class="preload-img" src="images/zprozor-kompsjedix.gif" />
<a href="z313" data-routable="true"  data-sound="m5b" class="m5"></a>
<a href="z258" data-routable="true" class="c pipa"></a>
<a href="z268" data-routable="true" class="c c1"></a>


<style>
  
</style>
<script>
  
      gifTime =vc6;
</script>