xxx

<img src="images/.gif">





<a href="z16" data-routable="true" class="c">krevet</a>
<a href="z18" data-routable="true" class="c c1">stol</a>

<style>
     
   <script>
    changeWallImage();
</script>