
<img class="main-tpl-img" src="images/zkrevet-kutlik.gif" data-lokacija="lok1" >

<img class="key-hold-img" data-wall-position="p1"  data-teleskop-position="t1" src="images/vkutlik.jpg" >

<img class="preload-img" src="images/zkomp-sintkut.gif" />
<img class="preload-img" src="images/zstol-krevetkut.gif" />
<img class="preload-img" src="images/zkomp-vankut.gif" />
<img class="preload-img" src="images/zkut-vratalik.gif" />

<img class="preload-img" src="images/zkut-prozorlik.gif" />


<a href="z349" data-routable="true"  data-sound="m7" class="m7 skok"></a>
<a href="z86" data-routable="true"  data-sint="on" class="c c1 sint"></a>
<a href="z46" data-routable="true" class="c"></a>
<a href="z212" data-routable="true" class="c c2"></a>

<a href="z38" data-routable="true"  data-sound="m2" class="m2"></a>

<style>

</style>
<script>
 gifTime =vm1;
</script>