<img src="images/zkomp-sint.gif">


<a href="z17" data-routable="true" class="c c1">teleskop</a>


<a href="z7" data-routable="true" class="c">sjedi</a>
<a href="z96" data-routable="true" class="m1"></a>
<style>
   
</style>