<img class="main-tpl-img" src="images/zstol-stolicalezi.gif" data-lokacija="lok4" >

<img class="key-hold-img" data-wall-position="p4" src="images/vstolicalezi.gif" >

<img class="preload-img" src="images/zkrevet-sjedistolica.gif" />
<img class="preload-img" src="images/zstolica-komplezi.gif" />
<img class="preload-img" src="images/zkrevet-sjedixstolica.gif" />
<img class="preload-img" src="images/zstolica-prozorlezi.gif" />

<a href="z80" data-routable="true" class="c"></a>

<a href="z165" data-routable="true" class="c c2"></a>
<a href="z57" data-routable="true"  data-sound="m5" class="m5"></a>
<a href="z238" data-routable="true" data-sound="m7"  class="m7 skok"></a>
<style>
    
</style>
<script>
 gifTime =vm5;
</script>