<img class="main-tpl-img" src="images/zkomp-policalezi.gif" data-lokacija="lok6" >

<img class="key-hold-img" data-wall-postion="p6"  data-teleskop-postion="t6b" data-govno-postion="g6b" src="images/vpolicalezi.jpg" >

<img class="preload-img" src="images/zkrevet-sjedipolica.gif" />

<img class="preload-img" src="images/zkrevet-sjedixpolica.gif" />
<img class="preload-img" src="images/zpolica-stolicalezi.gif" />
<img class="preload-img" src="images/zpolica-bedlezi.gif" />

<a href="z82" data-routable="true" class="c"></a>

<a href="z167" data-routable="true" class="c c2"></a>
<a href="z59" data-routable="true"  data-sound="m4b" class="m4"></a>
<a href="z302" data-routable="true"  data-sound="m0c" class="m0"></a>

<style>
    
</style>
<script>
 gifTime =vm8;
</script>