<img src="images/zkomp-van.gif">

<a href="z22" data-routable="true" class="m1"></a>



<a href="z1" data-routable="true" class="c">stol</a>
<a href="z10" data-routable="true" class="c1">slika</a>
<style>
    
</style>