<img src="images/zkomp-van.gif">





<a href="z1" data-routable="true" class="c">stol</a>
<a href="z10" data-routable="true" class="c1">slika</a>
<style>
     .container .c1{
        
         top: 3%;
         left: 71%;
         
    }

     .container .m{
         
         top: 36%;
         left: 18%;
         
     }

    .container .m:after{
        background-color: ;
    }
</style>