<img src="images/zsint-sjedi.gif">





<a href="z4" data-routable="true" class="c">stol</a>

<style>
     .container .c1{
        
         top: 3%;
         left: 71%;
         
    }

     .container .c{
         
         top: 36%;
         left: 18%;
         
     }

    .container .m:after{
        background-color: ;
    }
</style>