<img class="main-tpl-img" src="images/zsjedi-kompvrata.gif" data-lokacija="lok2" >

<embed  src="images/sjedi-komp.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-teleskop-position="t2"   data-govno-position="g2" src="images/vvratalik.gif" >

<img class="preload-img" src="images/zvrata-bedlik.gif" />
<img class="preload-img" src="images/zvrata-stollik.gif" />
<img class="preload-img" src="images/zkomp-sintvrata.gif" />
<img class="preload-img" src="images/zstol-krevetvrata.gif" />
<img class="preload-img" src="images/zkomp-vanvrata.gif" />

<a href="z39" data-routable="true" data-sound="m3"  class="m3"></a>
<a href="z274" data-routable="true" data-sound="m0d"  class="m0"></a>
<a href="z87" data-routable="true"  data-sint="on" class="c sint"></a>
<a href="z47" data-routable="true" class="c c1"></a>
<a href="z213" data-routable="true" class="c c2"></a>
<style>

</style>
<script>
 gifTime =vc8;
</script>