<img class="main-tpl-img" src="images/zkrevet-sjedikut.gif">

<embed  src="images/krevet-sjedi.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-postion="p1" src="images/vkutsjedi.jpg" >

<img class="preload-img" src="images/zkut-vratasjedi.gif" />
<img class="preload-img" src="images/zsjedi-kompkut.gif" />
<img class="preload-img" src="images/zsjedi-otprozorkut.gif" />

<a href="z62" data-routable="true" data-sound="m2"  class="m2"></a>

<a href="z70" data-routable="true" class="c"></a>
<a href="h32" data-routable="true" class="c c1 ot"></a>
  
<script>
 gifTime =vc9;
</script>