<img class="main-tpl-img" src="images/zkrevet-sjedistol.gif">

<embed  src="images/krevet-sjedi.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-postion="p3" src="images/vstol.jpg" >

<img class="preload-img" src="images/zstol-stolicasjedi.gif" />
<img class="preload-img" src="images/zstol-kutsjedi.gif" />
<img class="preload-img" src="images/zsjedi-kompstol.gif" />
<img class="preload-img" src="images/zsjedi-otprozorstol.gif" />

<a href="z64" data-routable="true" data-sound="m4"  class="m4"></a>
<a href="z65" data-routable="true"  data-sound="m1" class="m1"></a>
<a href="z72" data-routable="true" class="c"></a>
<a href="h34" data-routable="true" class="c c1 ot"></a>

<style>
     
</style>
<script>
 gifTime =vc9;
</script>