<img class="main-tpl-img" src="images/zkrevet-sjedikomp.gif">

<embed  src="images/krevet-sjedi.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-position="p5" src="images/vkompsjedi.jpg" >

<img class="preload-img" src="images/zkomp-policasjedi.gif" />
<img class="preload-img" src="images/zkomp-krevetsjedi.gif" />
<img class="preload-img" src="images/zsjedi-kompkomp.gif" />
<img class="preload-img" src="images/zsjedi-otprozorkomp.gif" />

<a href="z67" data-routable="true" data-sound="m6"  class="m6"></a>
<a href="z69" data-routable="true"  data-sound="m0" data-svemir="on" class="m0"></a>
<a href="z74" data-routable="true"  data-wiki-change="true" class="c"></a>
<a href="h36" data-routable="true" class="c c1 ot"></a>
<a  data-wiki="true" class="wikiread"></a>
<style>
    

   
</style>
<script>
 gifTime =vc9;
</script>