<img class="main-tpl-img" src="images/zkrevet-sjedipolica.gif">

<embed  src="images/krevet-sjedi.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"   data-teleskop-postion="t6" data-govno-postion="g6" src="images/vpolicasjedi.jpg" >

<img class="preload-img" src="images/zsjedi-komppolica.gif" />
<img class="preload-img" src="images/zpolica-stolicasjedi.gif" />
<img class="preload-img" src="images/zpolica-bedsjedi.gif" />


<a href="z75" data-routable="true"  data-wiki-change="true" class="c"></a>
<a href="h38" data-routable="true" class="c c1 ot"></a>
<a href="z68" data-routable="true" data-sound="m4b" class="m4"></a>
<a href="z303" data-routable="true" data-sound="m0c" class="m0"></a>

<style>

</style>
<script>
 gifTime =vc9;
</script>