<img class="main-tpl-img" src="images/zkomp-sintkut.gif" data-lokacija="lok1" >

<embed  src="images/komp-sint.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img" data-wall-position="p1"  data-teleskop-position="t1" src="images/vkutsint.jpg" >

<img class="preload-img" src="images/zsint-sjedikut.gif" />
<img class="preload-img" src="images/zsint-teleskopkut.gif" />
<img class="preload-img" src="images/zkut-vratasint.gif" />

<img class="preload-img" src="images/zkut-prozorsint.gif" />


<a href="z353" data-routable="true"  data-sound="m7" class="m7 skok"></a>
<a href="z90" data-routable="true" class="c"></a>
<a href="z219" data-routable="true" class="c c1 t"></a>
<a href="z97" data-routable="true"  data-sound="m2" class="m2"></a>


<style>

</style>

<script>


</script>