<img class="main-tpl-img" src="images/zkomp-sintvrata.gif">

<embed  src="images/komp-sint.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-teleskop-position="t2"   data-govno-position="g2" src="images/vvratasint.jpg" >

<img class="preload-img" src="images/zsint-sjedivrata.gif" />
<img class="preload-img" src="images/zsint-teleskopvrata.gif" />
<img class="preload-img" src="images/zvrata-stolsint.gif" />
<img class="preload-img" src="images/zvrata-bedsint.gif" />

<a href="z91" data-routable="true" class="c"></a>
<a href="z220" data-routable="true" class="c c1 t"></a>

<a href="z98" data-routable="true"  data-sound="m3" class="m3"></a>
<a href="z278" data-routable="true" data-sound="m0d"  class="m0"></a>

<style>
 
</style>
<script>
 gifTime =vc5;
</script>