<img src="images/zprilec-van.gif">


<a href="z10" data-routable="true" class="c">slika</a>


<a href="z1" data-routable="true" class="c1">stol</a>
<a href="z22" data-routable="true" class="m1"></a>

<style>
  
</style>