<img src="images/zprilec-van.gif">


<a href="z10" data-routable="true" class="c">slika</a>


<a href="z1" data-routable="true" class="c1">stol</a>

<style>
     .container .c1{
        
         top: 3%;
         left: 71%;
         
    }

     .container .c{
         
         top: 36%;
         left: 18%;
         
     }

    .container .m:after{
        background-color: ;
    }
</style>