<img class="main-tpl-img" src="images/zsint-sjedivrata.gif" data-lokacija="lok2" >

<embed  src="images/sint-sjedi.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-teleskop-position="t2"   data-govno-position="g2sjedi" src="images/vvratasjedi.jpg" >

<img class="preload-img" src="images/zsjedi-otprozorvrata.gif" />
<img class="preload-img" src="images/zsjedi-kompvrata.gif" />
<img class="preload-img" src="images/zvrata-stolsjedi.gif" />
<img class="preload-img" src="images/zvrata-bedsjedi.gif" />

<a href="z71" data-routable="true" data-wiki-change="true"  class="c"></a>
<a href="h33" data-routable="true" class="c c1 ot"></a>
<a href="z63" data-routable="true" data-sound="m3"  class="m3"></a>
<a href="z276" data-routable="true"  data-sound="m0d" class="m0"></a>

<style>
  
</style>
<script>
 gifTime =vc6;
</script>