<img class="main-tpl-img" src="images/zsint-sjedikomp.gif">

<embed  src="images/sint-sjedi.mp3" loop="false" autostart="true" hidden="true" />

<img class="key-hold-img"  data-wall-postion="p5" src="images/vkompsjedi.jpg" >

<img class="preload-img" src="images/zsjedi-kompkomp.gif" />
<img class="preload-img" src="images/zsjedi-otprozorkomp.gif" />
<img class="preload-img" src="images/zkomp-krevetsjedi.gif" />
<img class="preload-img" src="images/zkomp-policasjedi.gif" />


<a href="z74" data-routable="true" class="c"></a>
<a href="h36" data-routable="true" class="c c1 ot"></a>
<a href="z69" data-routable="true"  data-sound="m0" class="m0"></a>
<a href="z67" data-routable="true" data-sound="m6"  class="m6"></a>

<style>
  
</style>
<script>
 gifTime =vc6;
</script>