<img class="main-tpl-img" src="images/prozor-komp.gif">

 <embed  src="images/vrata-pipasliku.mp3" loop="false" autostart="true" hidden="true" />

<img class="preload-img" src="images/pipasliku-gledaslikuot.gif" />
<img class="preload-img" src="images/pipasliku-stol.gif" />
<img class="preload-img" src="images/zkrevet-kutpipaslikuot.gif" />


<a href="primjerm5" data-routable="true"  class="m5">m5(skok-off)</a>
<a href="primjerskok" data-routable="true"  class="m7 skok">skok</a>
<a href="primjerot" data-routable="true"   class="m4 ot">ot</a>
<a href="primjerzat" data-routable="true"  class="m6 zat">zat</a>

<script>
    gifTime =vc2;
</script>
